	<ul class="tab-right">
		{if in_array('chude_xem',$login.quyen)}<li><a href="index.php?view=chude">Danh sách</a></li>{/if}
		{if in_array('chude_them',$login.quyen)}<li><a href="index.php?view=chude&act=add">Thêm mới</a></li>{/if}
	</ul>
</div>
<!--END HEAD BOX--> 
<!--CONTENT BOX-->
<div class="contentbox">
	<h1>Cập nhật chủ đề</h1>
	<form action="{$action}" method="post" enctype="multipart/form-data" id="frm" class="update">
		<table width="100%" border="0" cellspacing="5" cellpadding="5">
			<tr style="display: none;">
				<td>Môn học</td>
				<td>
					{$danhsach=$lib->selectall("SELECT * FROM tbmonhoc",false)}
					<select name="lstmonhoc">
					{foreach $danhsach as $item}
						<option value="{$item.monhoc_id}" {if isset($detail) && $detail.monhoc_id==$item.monhoc_id}selected{/if}>{$item.monhoc_tieude}</option>
					{/foreach}
					</select>
				</td>
			</tr>
			
			<tr>
				<td>Tên chủ đề *</td>
				<td><input type="text" name="txttieude" class="validate[required]" 
                    {if isset($detail)} 
                    value="{$detail.chude_tieude}" 
                    {/if} ></td>
			</tr>
			<tr>
				<td>Mô tả</td>
				<td><textarea name="txtmota" cols="137" rows="10">{if isset($detail)}{$detail.chude_mota}{/if}</textarea></td>
			</tr>
			<tr>
				<td>Trạng thái</td>
				<td><label>
						<input name="rdtrangthai" type="radio" id="rdtrangthai_0" value="1" {if isset($detail) && $detail.chude_trangthai==1} checked{else} checked {/if}>
						Hoạt động </label>
					<label>
						<input type="radio" name="rdtrangthai" value="0" id="rdtrangthai_1" {if isset($detail) && $detail.chude_trangthai==0} checked {/if}>
						Khóa </label></td>
			</tr>
			{if in_array('chude_sua',$login.quyen) || in_array('chude_them',$login.quyen)}
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" name="btnup" id="btnup" value="Cập nhật"></td>
			</tr>
			{else}
			<script>
				$('.update input, .update select, .update textarea').attr('readonly','readonly');
			</script>
			{/if}
		</table>
	</form>
</div>
<!--END CONTENT BOX-->