	<ul class="tab-right">
		{if in_array('kiemtra_xem',$login.quyen)}<li><a href="index.php?view=kiemtra">Bài kiểm tra</a></li>{/if}
		{if in_array('cauhoi_xem',$login.quyen)}<li><a href="index.php?view=cauhoikiemtra&id={$id}">Câu hỏi kiểm tra</a></li>{/if}
		<li><a href="index.php?view=cauhoikiemtra&id={$id}&act=print">In bài kiểm tra</a></li>
	</ul>
</div>
<!--END HEAD BOX-->

<!--CONTENT BOX-->
<div class="contentbox">
	{if in_array('cauhoi_xem',$login.quyen)}
	<h1>Câu hỏi kiểm tra</h1>
	<form action="index.php?view=cauhoikiemtra&act=del&id={$id}" method="post" id="frmcauhoikiemtra">
		<table width="100%" border="1" cellspacing="5" cellpadding="5" class="csslist">
			<tr>
				<th scope="col">ID</th>
				{if in_array('cauhoi_xoa',$login.quyen)}
				<th scope="col"><input type="checkbox" id="chkcauhoikiemtra" /></th>
				{/if}
				<th scope="col">Câu hỏi</th>
				<th scope="col">Chủ đề</th>
				<th scope="col">Loại</th>
				<th scope="col">Mức độ</th>
				<th scope="col">Trạng thái</th>
				{if in_array('cauhoi_sua',$login.quyen) || in_array('cauhoi_xoa',$login.quyen)}
				<th scope="col">Thao tác</th>
				{/if}
			</tr>
			{if $kiemtra.kiemtra_tudongchon!=1}
				{foreach $cauhoikiemtra as $item}
				<tr>
					<td align="center">{$item.cauhoi_id}</td>
					{if in_array('cauhoi_xoa',$login.quyen)}
					<td align="center"><input type="checkbox" name="cbitem[]" value="{$item.cauhoi_id}" /></td>
					{/if}
					<td>
						<a href="index.php?view=cauhoi&act=edit&id={$item.cauhoi_id}">{$lib->subtitle($item.cauhoi_tieude|strip_tags, 150)}</a>
					</td>
					<td>
						{$one=$lib->selectone("SELECT * FROM tbchude WHERE chude_id={$item.chude_id}")}
						{$one.chude_tieude}
					</td>
					<td>
						{$one=$lib->selectone("SELECT * FROM tbloaicauhoi WHERE loaicauhoi_id={$item.loaicauhoi_id}")}
						{$one.loaicauhoi_tieude}
					</td>
					<td>
						{$one=$lib->selectone("SELECT * FROM tbmucdo WHERE mucdo_id={$item.mucdo_id}")}
						{$one.mucdo_tieude}
					</td>
					<td align="center"> {if $item.cauhoi_trangthai==1} <img src="../templates/admin/images/yes.png" title="Hoạt động" /> {else} <img src="../templates/admin/images/no.png" title="Khóa" /> {/if} </td>
					
					{if in_array('cauhoi_sua',$login.quyen) || in_array('cauhoi_xoa',$login.quyen)}
						<td align="center">
						{if in_array('cauhoi_sua',$login.quyen)}
							<a href="index.php?view=cauhoi&act=edit&id={$item.cauhoi_id}"><img src="../templates/admin/images/edit.png" title="Sửa" /></a>
						{/if}
						
						{if in_array('cauhoi_xoa',$login.quyen)}
							<a href="index.php?view=cauhoikiemtra&act=del&id={$id}&idcauhoi={$item.cauhoi_id}" onclick="return confirm('Bạn có chắc muốn xóa khỏi danh sách câu hỏi kiểm tra?')" ><img src="../templates/admin/images/del.png" title="Xóa khỏi danh sách câu hỏi kiểm tra" /></a>
						{/if}
						</td>
					{/if}
				</tr>
				{/foreach}
			{else}
				{$tong=0}
				{$cauhoitudong=$lib->selectall("SELECT * FROM tbcauhoitudong WHERE kiemtra_id={$kiemtra.kiemtra_id}",false)}
				{foreach $cauhoitudong as $item}
					{$tong = $tong + $item.cauhoitudong_soluong}
				{/foreach}
					<tr>
						<td colspan="8" align="center"><a href="index.php?view=kiemtra&act=edit&id={$kiemtra.kiemtra_id}">Tự động chọn {$tong} câu hỏi trong ngân hàng câu hỏi (bấm vào để chỉnh sửa)</a></td>
					</tr>
			{/if}
		</table>
		
		{if in_array('cauhoi_xoa',$login.quyen)}
		<br>
		<input type="submit" value="Xóa mục chọn" name="btndel" onClick="return confirm('Bạn có chắc muốn xóa khỏi danh sách câu hỏi kiểm tra?')">
		<input type="submit" value="Xóa tất cả" name="btndelall" onClick="return confirm('Bạn có chắc muốn xóa tất cả khỏi danh sách câu hỏi kiểm tra?')">
		{/if}
	</form>
	{else}
		<h1>Bạn không có quyền xem câu hỏi kiểm tra</h1>
	{/if}
	
	{if $kiemtra.kiemtra_tudongchon!=1}
		{if in_array('cauhoi_xem',$login.quyen)}
		<br>
		<h1>Ngân hàng câu hỏi</h1>
		{if in_array('cauhoi_tim',$login.quyen)}
		<p><a href="javascript:void(0)" onclick="hienan('timnangcao')">Tìm kiếm nâng cao (Bấm vào để Hiện / Ẩn)</a></p>
		<script>
			function hienan(obj) {
				var el = document.getElementById(obj);
				if ( el.style.display != 'none' ) {
					el.style.display = 'none';
					$('#show').val(0);
				}
				else {
					el.style.display = '';
					$('#show').val(1);
				}
			}
		</script>
		<form method="get" action="index.php" class="searchform">
			<input type="hidden" name="id" value="{$id}">
			<input type="hidden" name="view" value="cauhoikiemtra">
			<input type="hidden" name="show" id="show" value="{if isset($show) && $show==1}1{else}0{/if}">
			<table width="100%" border="0" cellspacing="5" cellpadding="5" style="margin-bottom:20px;">
				<thead>
					<tr>
						<td>Câu hỏi</td>
						<td>
							<input type="text" name="txtkey" {if isset($txtkey)} value="{$txtkey}" {/if}>
						</td>
					</tr>
				</thead>
				
				<tbody {if isset($show) && $show==1}{else}style="display:none"{/if} id="timnangcao">
					<tr>
						<td>Mức độ</td>
						<td>
						<select name="lstmucdo">
							<option value="">Tất cả mức độ</option>
							{$ds=$lib->selectall("SELECT * FROM tbmucdo WHERE mucdo_trangthai=1",false)}
							{foreach $ds as $item}
							<option value="{$item.mucdo_id}" {if isset($lstmucdo) && $lstmucdo==$item.mucdo_id}selected{/if}>{$item.mucdo_tieude}</option>
							{/foreach}
						</select>
						</td>
					</tr>
					
					<tr>
						<td>Khối</td>
						<td>
						<select name="lstkhoi">
							<option value="">Tất cả khối</option>
							{$ds=$lib->selectall("SELECT * FROM tbkhoi",false)}
							{foreach $ds as $item}
							<option value="{$item.khoi_id}" {if isset($lstkhoi) && $lstkhoi==$item.khoi_id}selected{/if}>{$item.khoi_tieude}</option>
							{/foreach}
						</select>
						</td>
					</tr>
					
					<tr>
						<td>Môn học</td>
						<td>
						<select name="lstmonhoc" id="lstmonhoc">
							<option value="">Tất cả môn học</option>
							{$ds=$lib->selectall("SELECT * FROM tbmonhoc",false)}
							{foreach $ds as $item}
							<option value="{$item.monhoc_id}" {if isset($lstmonhoc) && $lstmonhoc==$item.monhoc_id}selected{/if}>{$item.monhoc_tieude}</option>
							{/foreach}
						</select>
						</td>
					</tr>
					
					<tr>
						<td>Chủ đề</td>
						<td>
						<select name="lstchude" id="lstchude">
							<option value="">Tất cả chủ đề</option>
							{$ds=$lib->selectall("SELECT * FROM tbchude WHERE chude_trangthai=1",false)}
							{foreach $ds as $item}
							<option value="{$item.chude_id}" {if isset($lstchude) && $lstchude==$item.chude_id}selected{/if}>{$item.chude_tieude}</option>
							{/foreach}
						</select>
						</td>
					</tr>
                    
                    <script type="text/javascript">		
						//Load chủ đề nếu chọn môn học
						function loadchude(value)
						{
							$.get('/loadchude.php?value='+ value,function(data){
								$('#lstchude').html(data);
							});
						}
						
						$('#lstmonhoc').change(function(e) {
							var value = $(this).val();
							loadchude(value);
						});
					</script>
				</tbody>
				<tfoot>
					<tr>
						<td></td>
						<td><input type="submit" name="btnsearch" value="Tìm kiếm"></td>
					</tr>
				</tfoot>
			</table>
		</form>
		{/if}
		
		<form action="index.php?view=cauhoikiemtra&act=add&id={$id}" method="post" id="frmnganhangcauhoi">
			<table width="100%" border="1" cellspacing="5" cellpadding="5" class="csslist">
				<tr>
					<th scope="col">ID</th>
					<th scope="col"><input type="checkbox" id="chknganhangcauhoi" /></th>
					<th scope="col">Câu hỏi</th>
					<th scope="col">Chủ đề</th>
					<th scope="col">Loại</th>
					<th scope="col">Mức độ</th>
					<th scope="col">Trạng thái</th>
					{if in_array('cauhoi_sua',$login.quyen) || in_array('cauhoi_xoa',$login.quyen)}
					<th scope="col">Thao tác</th>
					{/if}
				</tr>
				{foreach $cauhoi as $item}
				<tr>
					<td align="center">{$item.cauhoi_id}</td>
					<td align="center"><input type="checkbox" name="nganhangcauhoi[]" value="{$item.cauhoi_id}" /></td>
					<td>
						<a href="index.php?view=cauhoi&act=edit&id={$item.cauhoi_id}">{$lib->subtitle($item.cauhoi_tieude|strip_tags, 150)}</a>
					</td>
					<td>
						{$one=$lib->selectone("SELECT * FROM tbchude WHERE chude_id={$item.chude_id}")}
						{$one.chude_tieude}
					</td>
					<td>
						{$one=$lib->selectone("SELECT * FROM tbloaicauhoi WHERE loaicauhoi_id={$item.loaicauhoi_id}")}
						{$one.loaicauhoi_tieude}
					</td>
					<td>
						{$one=$lib->selectone("SELECT * FROM tbmucdo WHERE mucdo_id={$item.mucdo_id}")}
						{$one.mucdo_tieude}
					</td>
					<td align="center"> {if $item.cauhoi_trangthai==1} <img src="../templates/admin/images/yes.png" title="Hoạt động" /> {else} <img src="../templates/admin/images/no.png" title="Khóa" /> {/if} </td>
					
					{if in_array('cauhoi_sua',$login.quyen) || in_array('cauhoi_xoa',$login.quyen) || in_array('kiemtra_them',$login.quyen)}
						<td align="center">
						{if in_array('kiemtra_them',$login.quyen)}
							<a href="index.php?view=cauhoikiemtra&id={$id}&idcauhoi={$item.cauhoi_id}&act=add"><img src="../templates/admin/images/add.png" title="Thêm vào câu hỏi kiểm tra" /></a>
						{/if}
						
						{if in_array('cauhoi_sua',$login.quyen)}
							<a href="index.php?view=cauhoi&act=edit&id={$item.cauhoi_id}"><img src="../templates/admin/images/edit.png" title="Sửa" /></a>
						{/if}
						
						{if in_array('cauhoi_xoa',$login.quyen)}
							<a href="index.php?view=cauhoi&act=del&id={$item.cauhoi_id}" onclick="return confirm('Bạn có chắc muốn xóa?')" ><img src="../templates/admin/images/del.png" title="Xóa" /></a>
						{/if}
						</td>
					{/if}
				</tr>
				{/foreach}
			</table>
			<div class="pages">{$lib->viewpage($link)}</div>
			
			{if in_array('cauhoi_xoa',$login.quyen)}
			<br>
			<input type="submit" value="Thêm mục chọn" name="btnadd">
			{/if}
		</form>
		{else}
			<h1>Bạn không có quyền xem ngân hàng câu hỏi</h1>
		{/if}
	{/if}
</div>
<!--END CONTENT BOX--> 

<!-- Check All -->
<script>
$(document).ready(function(e) {
	//Tham chiếu đến form check all và bắt sự kiện click chuột
	$("#chknganhangcauhoi").click(function(e) {
		var stt=$(this).attr('checked');
		if(stt=='checked')$('#frmnganhangcauhoi input[type=checkbox]').attr('checked',true);
		else $('#frmnganhangcauhoi input[type=checkbox]').attr('checked',false);
	});
	
	$("#chkcauhoikiemtra").click(function(e) {
		var stt=$(this).attr('checked');
		if(stt=='checked')$('#frmcauhoikiemtra input[type=checkbox]').attr('checked',true);
		else $('#frmcauhoikiemtra input[type=checkbox]').attr('checked',false);
	});
});
</script>