<link rel="stylesheet" href="../templates/admin/css/print.css" type="text/css" media="print" />

	<ul class="tab-right">
		<li><a href="#" onclick="window.print();return false;">In bài kiểm tra</a></li>
		{if in_array('cauhoi_xem',$login.quyen)}<li><a href="index.php?view=cauhoikiemtra&id={$id}">Câu hỏi kiểm tra</a></li>{/if}
		{if in_array('kiemtra_xem',$login.quyen)}<li><a href="index.php?view=kiemtra">Bài kiểm tra</a></li>{/if}
	</ul>
</div>
<!--END HEAD BOX--> 
<!--CONTENT BOX-->
<div class="contentbox kiemtra">
	<h1>{$detail.kiemtra_tieude}</h1>
	{if !empty($detail.chude_id)}
	<p>
		<strong>Chủ đề:</strong> 
		{$chude=$lib->selectone("SELECT * FROM tbchude WHERE chude_id={$detail.chude_id}")}
		{$chude.chude_tieude}
	</p>
	{/if}
	<p><strong>Thời gian làm bài: </strong>{$detail.kiemtra_thoigian|date_format:"%H giờ %M phút"}</p>
	{if !empty($detail.kiemtra_mota)}<p><strong>Chỉ dẫn: </strong>{$detail.kiemtra_mota}</p>{/if}
	<br>
	
	{for $i=0; $i<count($danhsach); $i++}
	<div class="cauhoi">
		<p><strong>Câu {$i+1}: {strip_tags($danhsach.$i.cauhoi_tieude)}</strong></p>
		{$loaicauhoi=$lib->selectone("SELECT * FROM tbloaicauhoi WHERE loaicauhoi_trangthai=1 AND loaicauhoi_id={$danhsach.$i.loaicauhoi_id}")}
		{if $loaicauhoi.loaicauhoi_ma=='tuluan'}
			<textarea cols="130" rows="5" name="cauhoi[{$danhsach.$i.cauhoi_id}]"></textarea>
		{else}
			{$strlay="SELECT * FROM tbdapan WHERE cauhoi_id={$danhsach.$i.cauhoi_id} "}
			{if $detail.kiemtra_daotraloi==1}
				{$strlay="{$strlay} ORDER BY RAND() "}
			{/if}
			{$dapan=$lib->selectall($strlay,false)}
			{$ascii=65}
			<ul>
				{foreach $dapan as $da}
				<li>
					<label><input type="checkbox" value="{$da.dapan_id}" name="cauhoi[{$danhsach.$i.cauhoi_id}]">{chr($ascii)}: {$da.dapan_tieude}</label>
				</li>
				{$ascii=$ascii+1}
				{/foreach}
			</ul>
		{/if}
	</div>
	{/for}
	
	<br>
	<p class="buttom">
		<a href="#" onclick="window.print();return false;">In bài kiểm tra</a>
	</p>
</div>
<!--END CONTENT BOX-->

<!--
<script>
	$('.kiemtra input, .update select, .update textarea').attr('readonly','readonly');
</script>
-->