	<ul class="tab-right">
		{if in_array('ketquakiemtra_xem',$login.quyen)}<li><a href="index.php?view=ketquakiemtra">Danh sách</a></li>{/if}
	</ul>
</div>
<!--END HEAD BOX--> 
<!--CONTENT BOX-->
<div class="contentbox">
	{if in_array('ketquakiemtra_xem',$login.quyen)}
	<h1>Danh sách kết quả kiểm tra</h1>
	{if in_array('ketquakiemtra_tim',$login.quyen)}
	<p><a href="javascript:void(0)" onclick="hienan('timnangcao')">Tìm kiếm nâng cao (Bấm vào để Hiện / Ẩn)</a></p>
	<script>
		function hienan(obj) {
			var el = document.getElementById(obj);
			if ( el.style.display != 'none' ) {
				el.style.display = 'none';
				$('#show').val(0);
			}
			else {
				el.style.display = '';
				$('#show').val(1);
			}
		}
	</script>
	
	<form method="get" action="index.php" class="searchform">
		<input type="hidden" name="view" value="ketquakiemtra">
		<input type="hidden" name="show" id="show" value="{if isset($show) && $show==1}1{else}0{/if}">
		<table width="100%" border="0" cellspacing="5" cellpadding="5" style="margin-bottom:20px;">
			<thead>
				<tr>
					<td>Chọn bài kiểm tra</td>
					<td>
					<select name="lstidkiemtra">
						<option value="">Tất cả bài kiểm tra</option>
						{$kiemtra=$lib->selectall("SELECT * FROM tbkiemtra WHERE kiemtra_trangthai=1",false)}
						{foreach $kiemtra as $item}
						<option value="{$item.kiemtra_id}" {if isset($lstidkiemtra) && $lstidkiemtra==$item.kiemtra_id}selected{/if}>{$item.kiemtra_tieude}</option>
						{/foreach}				
					</select>
					</td>
				</tr>
			</thead>
			
			<tbody {if isset($show) && $show==1}{else}style="display:none"{/if} id="timnangcao">
				<tr>
					<td>Khoảng thời gian<br>[ngày]/[tháng]/[năm] [giờ]:[phút]</td>
					<td>
						<input type="text" value="{if isset($txtbatdau) && !empty($txtbatdau)}{$txtbatdau|date_format:"%d/%m/%Y %H:%M"}{/if}" name="txtbatdau" style="width:308px" placeholder="Thời gian bắt đầu" class="datetimepicker">
						<input type="text" value="{if isset($txtketthuc) && !empty($txtketthuc)}{$txtketthuc|date_format:"%d/%m/%Y %H:%M"}{/if}" name="txtketthuc" style="width:308px" " placeholder="Thời gian kết thúc" class="datetimepicker"> 
					</td>
				</tr>
				
				<tr>
					<td>Phòng thi</td>
					<td>
					<select name="lstphongthi">
						<option value="">Tất cả phòng thi</option>
						{$ds=$lib->selectall("SELECT * FROM tbphongthi WHERE phongthi_trangthai=1",false)}
						{foreach $ds as $item}
						<option value="{$item.phongthi_id}" {if isset($lstphongthi) && $lstphongthi==$item.phongthi_id}selected{/if}>{$item.phongthi_tieude}</option>
						{/foreach}
					</select>
					</td>
				</tr>
				
				<!--
				<tr>
					<td>Khối</td>
					<td>
					<select name="lstkhoi">
						<option value="">Tất cả trường</option>
						{$ds=$lib->selectall("SELECT * FROM tbkhoi WHERE khoi_trangthai=1",false)}
						{foreach $ds as $item}
						<option value="{$item.khoi_id}" {if isset($lstkhoi) && $lstkhoi==$item.khoi_id}selected{/if}>{$item.khoi_tieude}</option>
						{/foreach}
					</select>
					</td>
				</tr>
				
				<tr>
					<td>Lớp</td>
					<td>
					<select name="lstlop">
						<option value="">Tất cả lớp</option>
						{$ds=$lib->selectall("SELECT * FROM tblop WHERE lop_trangthai=1",false)}
						{foreach $ds as $item}
						<option value="{$item.lop_id}" {if isset($lstlop) && $lstlop==$item.lop_id}selected{/if}>{$item.lop_tieude}</option>
						{/foreach}
					</select>
					</td>
				</tr>
				-->
				
				<tr>
					<td>Nhóm thành viên</td>
					<td>
						<select name="lstnhomtaikhoan">
							<option value="">Tất cả nhóm thành viên</option>
							{$ds=$lib->selectall("SELECT * FROM tbnhomtaikhoan WHERE nhomtaikhoan_trangthai=1",false)}
							{foreach $ds as $item}
							<option value="{$item.nhomtaikhoan_id}" {if isset($lstnhomtaikhoan) && $lstnhomtaikhoan==$item.nhomtaikhoan_id}selected{/if}>{$item.nhomtaikhoan_tieude}</option>
							{/foreach}
						</select>
					</td>				
				</tr>
				
				<tr>
					<td>Thành viên</td>
					<td>
						<select name="lsttaikhoan">
							<option value="">Tất cả tài khoản</option>
							{$nhom=$lib->selectall("SELECT * FROM tbnhomtaikhoan WHERE nhomtaikhoan_trangthai=1",false)}
							{foreach $nhom as $n}
								{$taikhoan=$lib->selectall("SELECT * FROM tbtaikhoan WHERE taikhoan_trangthai=1 AND nhomtaikhoan_id={$n.nhomtaikhoan_id}",false)}
								{if !empty($taikhoan)}
									<optgroup label="{$n.nhomtaikhoan_tieude}">
									{foreach $taikhoan as $tk}
										<option value="{$tk.taikhoan_id}" {if isset($lsttaikhoan) && $lsttaikhoan==$tk.taikhoan_id}selected{/if}>{$tk.taikhoan_hoten}</option>
									{/foreach}
									</optgroup>
								{/if}
							{/foreach}
						</select>
					</td>
				</tr>
			</tbody>
			
			<tfoot>
				<tr>
					<td></td>
					<td><input type="submit" name="btnsearch" value="Tìm kiếm"></td>
				</tr>
			</tfoot>
		</table>
	</form>
	{/if}
				
	<form action="index.php?view=ketquakiemtra&act=del" method="post">
		<table width="100%" border="1" cellspacing="5" cellpadding="5" class="csslist">
			<tr>
				<th scope="col">ID</th>
				{if in_array('ketquakiemtra_xoa',$login.quyen)}
				<th scope="col"><input type="checkbox" id="cball" /></th>
				{/if}
				<th scope="col">Tên thành viên</th>
				<th scope="col">Tên bài kiểm tra</th>
				<th scope="col">Thời gian</th>
				<th scope="col">Trả lời đúng</th>
				<th scope="col">Điểm số</th>
				<th scope="col">Xếp loại</th>
				{if in_array('ketquakiemtra_xoa',$login.quyen)}
				<th scope="col">Thao tác</th>
				{/if}
			</tr>
			{foreach $danhsach as $item}
			<tr {if $item.ketquakiemtra_diem < 5}style="color: #f00; font-weight:bold"{/if}>
				<td align="center">{$item.ketquakiemtra_id}</td>
				{if in_array('ketquakiemtra_xoa',$login.quyen)}
				<td align="center"><input type="checkbox" name="cbitem[]" value="{$item.ketquakiemtra_id}" /></td>
				{/if}
				<td>
					{$taikhoan=$lib->selectone("SELECT * FROM tbtaikhoan WHERE taikhoan_id={$item.taikhoan_id}")}
					<a href="index.php?view=taikhoan&act=edit&id={$item.taikhoan_id}">{$taikhoan.taikhoan_hoten}</a>
				</td>
				<td>
					{$kiemtra=$lib->selectone("SELECT * FROM tbkiemtra WHERE kiemtra_id={$item.kiemtra_id}")}
					<a href="index.php?view=kiemtra&act=edit&id={$item.kiemtra_id}">{$kiemtra.kiemtra_tieude}</a>
				</td>
				<td>{$item.ketquakiemtra_thoigian}</td>
				<td>{$item.ketquakiemtra_caudung} / {$item.ketquakiemtra_tongcauhoi}</td>
				<td>{$item.ketquakiemtra_diem}</td>
				<td>
					{$xeploai=$lib->selectone("SELECT * FROM tbxeploai WHERE xeploai_id={$item.xeploai_id}")}
					{if $item.ketquakiemtra_diem >= 5}Đạt{else}Không đạt{/if}
				</td>
				{if in_array('ketquakiemtra_xoa',$login.quyen)}
					<td align="center">	
					{if in_array('ketquakiemtra_xem',$login.quyen)}
						<a href="index.php?view=ketquakiemtra&act=edit&kiemtra_id={$item.kiemtra_id}&ketquakiemtra_id={$item.ketquakiemtra_id}"><img src="../templates/admin/images/detail.png" title="Xem chi tiết" /></a>
					{/if}
									
					{if in_array('ketquakiemtra_xoa',$login.quyen)}
						<a href="index.php?view=ketquakiemtra&act=del&id={$item.ketquakiemtra_id}" onclick="return confirm('Bạn có chắc muốn xóa?')" ><img src="../templates/admin/images/del.png" title="Xóa" /></a>
					{/if}
					</td>
				{/if}
			</tr>
			{/foreach}
		</table>
		<div class="pages">{$lib->viewpage($link)}</div>
		
		{if in_array('ketquakiemtra_xoa',$login.quyen)}
		<input type="submit" value="Xóa mục chọn" name="btndel" onClick="return confirm('Bạn có chắc muốn xóa?')">
		<input type="submit" value="Xóa tất cả" name="btndelall" onClick="return confirm('Bạn có chắc muốn xóa tất cả?')">
		{/if}
		&nbsp&nbsp;&nbsp;
		{if in_array('ketquakiemtra_xuat',$login.quyen)}
		<input type="submit" value="Xuất mục chọn ra Excel" name="btnexport">
		<input type="submit" value="Xuất tất cả ra Excel" name="btnexportall">
		{/if}
	</form>
	{else}
		<h1>Bạn không có quyền xem danh sách kết quả kiểm tra</h1>
	{/if}
</div>
<!--END CONTENT BOX-->