<link rel="stylesheet" href="../templates/admin/css/print.css" type="text/css" media="print" />

	<ul class="tab-right">
		{if in_array('ketquakiemtra_xem',$login.quyen)}<li><a href="index.php?view=ketquakiemtra">Danh sách</a></li>{/if}
		{if in_array('ketquakiemtra_them',$login.quyen)}<li><a href="index.php?view=ketquakiemtra&act=add">Thêm mới</a></li>{/if}
	</ul>
</div>
<!--END HEAD BOX--> 
<!--CONTENT BOX-->
<div class="contentbox kiemtra">
	<h1>Kết quả bài thi: {$detail.kiemtra_tieude}</h1>
	<!--<p>
		<strong>Chủ đề:</strong> 
		{if !empty($chude)}
			{$chude=$lib->selectone("SELECT * FROM tbchude WHERE chude_id={$detail.chude_id}")}
			{$chude.chude_tieude}
		{else}
			Tất cả chủ đề
		{/if}
	</p>-->
	{$taikhoan=$lib->selectone("SELECT * FROM tbtaikhoan WHERE taikhoan_id={$ketquakiemtra.taikhoan_id}")}
	<p><strong>Họ tên thí sinh: </strong>{$taikhoan.taikhoan_hoten}</p>
	<p><strong>Số báo danh: </strong>{$taikhoan.taikhoan_sobaodanh}</p>
	<!--<p><strong>Thi lúc: </strong>{$ketquakiemtra.ketquakiemtra_ngaytao|date_format:"%H giờ %M phút %S giây, ngày %d/%m/%Y"}</p>-->
	<p><strong>Thời gian làm bài: </strong>{$detail.kiemtra_thoigian|date_format:"%H giờ %M phút"}</p>
	<p><strong>Thời gian hoàn thành bài thi: </strong>{$ketquakiemtra.ketquakiemtra_thoigian|date_format:"%H giờ %M phút %S giây"}</p>
	<p><strong>Số câu trả lời đúng: </strong>{$ketquakiemtra.ketquakiemtra_caudung} / {$ketquakiemtra.ketquakiemtra_tongcauhoi} ({round(($ketquakiemtra.ketquakiemtra_caudung/$ketquakiemtra.ketquakiemtra_tongcauhoi)*100,2)}%)</p>
	<p><strong>Điểm bài thi: </strong>{$ketquakiemtra.ketquakiemtra_diem}</p>
	
	<p><strong>Đã thử lại: </strong> {$detail.kiemtra_thulai-$thulai} / {$detail.kiemtra_thulai} lần</p>
	<br>
	
	<h1>Xem lại câu trả lời</h1>
	<p style="font-weight:bold;">Chú ý: Những câu hỏi có màu đỏ là câu đã trả lời sai. Những đáp án có màu đỏ là đáp án sai.</p>
	{for $i=0; $i<count($danhsach); $i++}
	{$cauhoi=$lib->selectone("SELECT * FROM tbcauhoi WHERE cauhoi_id={$danhsach.$i.cauhoi_id}")}
	{$dapandung=$lib->selectone("SELECT * FROM tbdapan WHERE cauhoi_id={$danhsach.$i.cauhoi_id} AND dapan_dung=1")}
	<div class="cauhoi" {if !empty($dapandung) && $dapandung.dapan_id==$danhsach.$i.dapan_id}{else}style="color:#f00;"{/if}>
		<p><strong>Câu {$i+1}: {strip_tags($cauhoi.cauhoi_tieude)}</strong></p>
		{$loaicauhoi=$lib->selectone("SELECT * FROM tbloaicauhoi WHERE loaicauhoi_trangthai=1 AND loaicauhoi_id={$cauhoi.loaicauhoi_id}")}
		{if $loaicauhoi.loaicauhoi_ma=='tuluan'}
			<textarea cols="130" rows="5" name="cauhoi[{$cauhoi.cauhoi_id}]">{$danhsach.$i.dapantuluan}</textarea>
		{else}
			{$dapan=$lib->selectall("SELECT * FROM tbdapan WHERE cauhoi_id={$cauhoi.cauhoi_id}",false)}
			{$ascii=65}
			<ul>
				{foreach $dapan as $da}
				<li {if !empty($dapandung) && $dapandung.dapan_id==$da.dapan_id}style="color:#000; font-weight:bold;"{/if}>
					<label><input type="checkbox" value="{$da.dapan_id}" name="cauhoi[{$cauhoi.cauhoi_id}]" {if $danhsach.$i.dapan_id==$da.dapan_id}checked{/if}>{chr($ascii)}: {$da.dapan_tieude}</label>
				</li>
				{$ascii=$ascii+1}
				{/foreach}
			</ul>
		{/if}
	</div>
	{/for}
	
	<br>
	<p class="buttom">
		<a href="#" onclick="window.print();return false;">In kết quả</a>
	</p>
</div>
<!--END CONTENT BOX-->

<script>
	$('.kiemtra input, .update select, .update textarea').attr('disabled','disabled');
</script>