<!--
<div class="footer">
    <p>Copyright 2016</p>
</div>
-->

<!-- Timepicker -->
<link rel="stylesheet" type="text/css" href="templates/admin/js/datetimepicker/jquery.datetimepicker.css"/>
<script type="text/javascript" src="templates/admin/js/datetimepicker/jquery.datetimepicker.js"></script>
<script>
	var currentDate = new Date();
	var day = currentDate.getDate();
	var month = currentDate.getMonth() + 1;
	var year = currentDate.getFullYear();
	var date = day + "/" + month + "/" + year;
	
	$('.datetimepicker').datetimepicker({
		dayOfWeekStart : 1,
		lang:'vi',
		format:'d/m/Y H:i',
		step:5,
	});
	
	$(".datepicker").datetimepicker({
		dayOfWeekStart : 1,
		lang:'vi',
		format:'d/m/Y',
		timepicker:false,
	});
	
	$('.timepicker').datetimepicker({
		datepicker:false,
		format:'H:i',
		step:5
	});
</script>
<!-- End Timepicker -->
</body>
</html>