{if isset($chuathi[0]) && !empty($chuathi[0])}
	{$chuathi1=$lib->selectone("SELECT * FROM tbkiemtra WHERE kiemtra_id={$chuathi[0]}")}
{/if}
<div class="header">
	<div class="header-top">
		<!--
		<div class="header-logo">
			<a href="index.php"><img src="templates/user/images/logo.png" alt="logo"></a>
		</div>
		-->
		<div class="header-info" style="float: right; padding-bottom: 10px; padding-top: 20px;">
		{if isset($login)}
			<p>Xin chào <strong><a href="/thong-tin-ca-nhan.html">{$login.taikhoan_hoten}</a></strong>. Lần truy cập gần đây nhất lúc {$login.taikhoan_truycap|date_format:"%Hh:%M' ngày %d/%m/%Y"}. <a href="index.php?out=1">Đăng xuất</a></p>
			{if count($chuathi)>0}<p>Bạn có <a class="count" href="index.php?pg=chitietbaikiemtra&id={$chuathi1.kiemtra_id}">{count($chuathi)}</a> bài thi phải hoàn thiện trước {$chuathi1.kiemtra_ketthuc|date_format:"%Hh:%M' ngày %d/%m/%Y"}.</p>{/if}
			{if count($quahanbatbuoc)>0}<p>Bạn đã bỏ qua <a href="index.php?pg=chitietbaikiemtra&id={$quahanbatbuoc[0]}" class="count">{count($quahanbatbuoc)}</a> bài thi</p>{/if}
		{/if}
		</div>
	</div>
	
	{if isset($login)}
	<div class="header-menu">
		<ul>
			<li><a href="index.php">Kiểm tra</a></li>
			<li><a href="index.php?pg=danhsachketqua">Báo cáo kết quả kiểm tra</a></li>
			{if isset($login.quyen) && in_array('truycapquantri',$login.quyen)}
			<li><a href="quantri">Truy cập trang quản trị</a></li>
			{/if}
		</ul>
	</div>
	{/if}
</div>