	</div>
	<div class="footer">
		<p>Copyright &copy; 2016</p>
	</div>
	

<!-- Timepicker -->
<link rel="stylesheet" type="text/css" href="../templates/admin/js/datetimepicker/jquery.datetimepicker.css"/>
<script type="text/javascript" src="../templates/admin/js/datetimepicker/jquery.datetimepicker.js"></script>
<script>
	var currentDate = new Date();
	var day = currentDate.getDate();
	var month = currentDate.getMonth() + 1;
	var year = currentDate.getFullYear();
	var date = day + "/" + month + "/" + year;
	
	$('.datetimepicker').datetimepicker({
		dayOfWeekStart : 1,
		lang:'vi',
		format:'d/m/Y H:i',
		step:5,
	});
	
	$(".datepicker").datetimepicker({
		dayOfWeekStart : 1,
		lang:'vi',
		format:'d/m/Y',
		timepicker:false,
	});
	
	$('.timepicker').datetimepicker({
		datepicker:false,
		format:'H:i:s',
		step:5
	});
</script>
<!-- End Timepicker -->

<!-- CKEditor + CKFinder -->
<script type='text/javascript' src='../templates/admin/ckeditor/ckeditor.js'></script>
<script type="text/javascript" src="../templates/admin/ckfinder/ckfinder_v1.js"></script>
<script type="text/javascript">
	function BrowseServer( inputId )
	{
		var finder = new CKFinder() ;
		finder.BasePath = '../templates/admin/ckfinder/';
		finder.SelectFunction = SetFileField ;
		finder.SelectFunctionData = inputId ;
		finder.Popup() ;
	}
	 
	function SetFileField( fileUrl, data )
	{
		document.getElementById( data["selectActionData"] ).value = fileUrl;
		showimage(data["selectActionData"]);
	}
	
	function showimage(id)
	{
		var idimage = $('#' + id).attr('data-image');
		var urlimage = $('#' + id).val();
		$('#' + idimage).attr('src', urlimage);
	}
</script>
<!-- End CKFinder -->
</body>
</html>