	<ul class="tab-right">
		<li><a href="index.php">Bảng quản trị</a></li>
	</ul>
</div>
<!--END HEAD BOX--> 

<!--CONTENT BOX-->
<div class="contentbox">
	<h1>Bảng quản trị</h1>
</div>
<!--END CONTENT BOX-->