@charset "utf-8";
/* CSS Document */
body{font-family:Arial, Helvetica, sans-serif; font-size:12px;}

/* Header */
.header{float:left; width:100%;}
.header-top{float:left; width:100%;}
.header-top .header-logo{float:left; width:15%;}
.header-top .header-logo img{height:60px;}
.header-top .header-info{float:left; width:85%; text-align:right;}
.header-top .header-info p{margin:0; padding-bottom:5px;}

.header-menu{float:left; width:100%; border:#ccc 1px solid; background:#EDF1F9;}
.header-menu ul{margin:0; padding:0; float:left; z-index:99;}
.header-menu ul li{list-style:none; float:left; position:relative;}
.header-menu ul li a{text-decoration:none; padding:7px 15px; font-weight:bold; color:#065A9E; float:left;}
.header-menu ul li a:hover{color:#DD362F}
.header-menu ul li.active>a{color:#DD362F;}
.header-menu ul ul{display:none; position:absolute; width:220px; top:28px; left:-1px; background:#CFD9F1; border:#ccc 1px solid;}
.header-menu ul ul li{width:100%; float:left; border-bottom:#fff 1px solid;}
.header-menu ul ul li:last-child{border-bottom:none;}
.header-menu ul ul ul{top:-1px; left:220px;}
.header-menu ul li:hover>ul{display:block;}
/* End Header */


/* Content */
.content{float:left; width:100%; min-height:500px;}
.content input[type=submit], input[type=buttom]{
	background:-webkit-gradient(linear,left top,left bottom,from(#FFF),to(#E5E5E5));
	background:-moz-linear-gradient(top,#FFF,#E5E5E5);/*Fix FF*/
	background:-o-linear-gradient(top,#FFF,#E5E5E5);/*Fix Opera*/
	background:-ms-linear-gradient(top,#FFF,#E5E5E5);/*Fix IE*/
	border:#ccc 1px solid;
	border-radius:5px;
	padding:5px 10px;
	margin-right:5px;
	font-weight:bold;
}
.content input[type=submit]:hover, input[type=buttom]:hover{
	cursor:pointer;
	box-shadow:1px -1px 3px #000;
}
.content form[method=get] input[type=text], .content form[method=get] select{
	height:23px;
	border-radius:5px;
	border:#ccc 1px solid;
	background:-webkit-gradient(linear,left top,left bottom,from(#EFEFEF),to(#fff));
}
.content form[method=get] select{
	height:27px;
	width:308px;
}
.content .headbox{
	float:left;
	width:100%;
	height:40px;
	position:relative;
	/*
	background:-webkit-gradient(linear,left top,left bottom,from(#E5E5E5),to(#FFF));
	background:-moz-linear-gradient(top,#E5E5E5,#FFF);
	background:-o-linear-gradient(top,#E5E5E5,#FFF);
	background:-ms-linear-gradient(top,#E5E5E5,#FFF);
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border:#ccc 1px solid;
	*/
	border-bottom:#ccc 1px solid;
	color:#000;
}

.content .headbox .tab-left{padding:0; margin:0; position:absolute; left:20px;bottom:0;}
.content .headbox .tab-left li{
	float:left; 
	list-style:none; 
	margin-right:5px;
	border:#ccc 1px solid;
	border-bottom:none;
	background-color:#F0F2F8;
	/*
	background:-webkit-gradient(linear,left top,left bottom,from(#FFF),to(#E5E5E5));
	background:-moz-linear-gradient(top,#FFF,#E5E5E5);
	background:-o-linear-gradient(top,#FFF,#E5E5E5);
	background:-ms-linear-gradient(top,#FFF,#E5E5E5);
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	box-shadow:1px -1px 3px #000
	*/
}
.content .headbox .tab-left li.active{background:#fff;}
.content .headbox .tab-left li a{float:left;padding:7px 15px; color:#000; text-decoration:none; font-weight:bold}


.content .headbox .tab-right{padding:0; margin:0; position:absolute; right:20px;bottom:0;}
.content .headbox .tab-right li{
	float:left; 
	list-style:none; 
	margin-left:5px;
	background:-webkit-gradient(linear,left top,left bottom,from(#FFF),to(#E5E5E5));
	background:-moz-linear-gradient(top,#FFF,#E5E5E5);/*Fix FF*/
	background:-o-linear-gradient(top,#FFF,#E5E5E5);/*Fix Opera*/
	background:-ms-linear-gradient(top,#FFF,#E5E5E5);/*Fix IE*/
	border:#ccc 1px solid;
	border-bottom:none;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	box-shadow:1px -1px 3px #000;
}
.content .headbox .tab-right li a{float:left;padding:7px 15px; color:#000; text-decoration:none; font-weight:bold}

.content .headbox h3{padding-left:10px;}
.contentbox{
	width:100%; 
	float:left;
	background:#fff; 
	color:#000;
	border-top:0;
	/*
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border:#ccc 1px solid; 
	*/
}
.contentbox input[type=text], .contentbox input[type=password]{width:80%;}
.csslist{border:#ccc 1px solid; border-collapse:collapse}
.csslist th{border:#ccc 1px solid; 
background:-webkit-gradient(linear,left top,left bottom,from(#FFF),to(#E5E5E5));
background:-moz-linear-gradient(top,#FFF,#E5E5E5);/*Fix FF*/
background:-o-linear-gradient(top,#FFF,#E5E5E5);/*Fix Opera*/
background:-ms-linear-gradient(top,#FFF,#E5E5E5);/*Fix IE*/
}
.csslist tr:hover{background:#EDF1F9}
.csslist td{border:#ccc 1px solid; }
.csslist td img{margin-right:5px;}

.pages{float:left;width:100%; padding:10px 0; text-align:center}
.pages a{border:#ccc 1px solid;padding:2px 5px;font-weight:bold; color:#333; text-decoration:none}
.pages a.active{color:#fff; background:#005AA3;}
.pages a:hover{color:#f00;}
.pages a.active:hover{background:#EDF1F9;}

.update table{background:#EDF1F9; border-radius:10px;}
.update table tr td:first-child{font-weight:bold; width:250px}
.update table tr td{border-bottom:#fff 1px solid; padding-top:0;}
.update table tr:last-child td{border-bottom:none;}
.update input[type=text], .update input[type=password], .update select{
	height:25px;
	border-radius:5px;
	border:#ccc 1px solid;
	background:-webkit-gradient(linear,left top,left bottom,from(#EFEFEF),to(#fff));
}
.update select{
	width:300px;	
}
.update textarea{
	border-radius:5px;
	border:#ccc 1px solid;
	background:-webkit-gradient(linear,left top,left bottom,from(#EFEFEF),to(#fff));
}

.update ul{margin:0; padding:0;}
.update ul li{list-style:none; margin-bottom:5px;}
.update ul ul{margin-left:30px;margin-top:5px;}
.update ul ul li{margin-bottom:0px;}
.update .multi-select{width:80%;}
.update p{margin:5px 0;}

.content a{color:#00f; text-decoration:none;}
.content a:hover{color:#f00;}

.content .search{margin-bottom:20px;}
.content .search tr td:first-child{width:150px}
.import .csslist tr:first-child{
	font-weight:bold; 
	text-align:center;
	background:-webkit-gradient(linear,left top,left bottom,from(#FFF),to(#E5E5E5));
	background:-moz-linear-gradient(top,#FFF,#E5E5E5);/*Fix FF*/
	background:-o-linear-gradient(top,#FFF,#E5E5E5);/*Fix Opera*/
	background:-ms-linear-gradient(top,#FFF,#E5E5E5);/*Fix IE*/
}

/* SEARCH FORM */
.searchform table{background:#EDF1F9; border-radius:10px;}
.searchform table tr td:first-child{font-weight:bold; width:150px}
.searchform table tr td{border-bottom:#fff 1px solid; padding-top:0;}
.searchform table tfoot tr:last-child td{border-bottom:none;}
.searchform input[type=text], .searchform input[type=password], .searchform select{
	height:25px;
	border-radius:5px;
	border:#ccc 1px solid;
	background:-webkit-gradient(linear,left top,left bottom,from(#EFEFEF),to(#fff));
}
.searchform select{
	width:300px;	
}
.searchform textarea{
	border-radius:5px;
	border:#ccc 1px solid;
	background:-webkit-gradient(linear,left top,left bottom,from(#EFEFEF),to(#fff));
}
.searchform p{margin:5px 0;}

.kiemtra{width:100%; float:left; padding:0px; margin-bottom:20px; margin-left:10px;}
.kiemtra ul{margin:0; padding:0; padding-left:20px;}
.kiemtra ul li{list-style:none;}
.kiemtra input[type=submit], .kiemtra a{
    color: #fff;
	background-color:#0063AF;
    border-color: #285e8e;
    border: 1px solid transparent;
	text-decoration: none;
	padding: 7px 14px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 4px;
	margin-right:10px;
}
.kiemtra input[type=submit]:hover, .kiemtra a:hover{background-color: #3071a9; color:#fff;}
.kiemtra input[type=text], .kiemtra input[type=password], .kiemtra texarea, .kiemtra select{
	height:25px;
	border-radius:5px;
	border:#ccc 1px solid;
	background:-webkit-gradient(linear,left top,left bottom,from(#EFEFEF),to(#fff));
}
/* End Content */

/* Footer */
.footer{float:left; width:100%; text-align:center; margin-top:10px; margin-bottom:10px; border-top:#ccc 1px solid;}
.footer p{margin:0; padding-top:5px; }
/* End Footer */