	<ul class="tab-right">
		<li><a href="index.php?view=thangdiem">Danh sách</a></li>
		<li><a href="index.php?view=thangdiem&act=add">Thêm mới</a></li>
	</ul>
</div>
<!--END HEAD BOX--> 

<!--CONTENT BOX-->
<div class="contentbox">
	<h1>Cập nhật thang điểm</h1>
	<form action="{$action}" method="post" enctype="multipart/form-data" id="frm" class="update">
		<table width="100%" border="0" cellspacing="5" cellpadding="5">
			<tr>
				<td>Tổng số mức xếp loại</td>
				<td>
					<select name="lstsoluong" onchange="this.form.submit();">
						{for $i=2; $i<=10; $i++}
						<option value="{$i}" {if !empty($soluong) && $soluong==$i}selected{/if}>{$i}</option>
						{/for}
					</select>
				</td>
			</tr>
					
			<tr>
				<td>Tên thang điểm *</td>
				<td><input type="text" name="txttieude" class="validate[required]" 
                    {if isset($detail)} 
                    value="{$detail.thangdiem_tieude}" 
                    {/if} ></td>
			</tr>
			
			<tr>
				<td>Trạng thái</td>
				<td><label>
						<input name="rdtrangthai" type="radio" id="rdtrangthai_0" value="1" {if isset($detail) && $detail.thangdiem_trangthai==1} checked{else} checked {/if}>
						Hoạt động </label>
					<label>
						<input type="radio" name="rdtrangthai" value="0" id="rdtrangthai_1" {if isset($detail) && $detail.thangdiem_trangthai==0} checked {/if}>
						Khóa </label></td>
			</tr>
			
			{if isset($detail)}
				{$danhsach=$lib->selectall("SELECT * FROM tbxeploai WHERE thangdiem_id={$detail.thangdiem_id} LIMIT $soluong",false)}
			{/if}
			
			{for $i=0; $i<$soluong; $i++}
			<tr><td align="center" colspan="2"><p>Xếp loại mức {$i+1}</p></td></tr>
			<tr>
				<td>Tiêu đề</td>
				<td>
					<input type="text" name="tenmuc[]" value="{if isset($danhsach.$i) && !empty($danhsach.$i)}{$danhsach.$i.xeploai_tieude}{/if}" class="validate[required]">
					<label><input type="checkbox" value="{$i}" name="chkdat[]" {if isset($danhsach.$i) && $danhsach.$i.xeploai_dat==1}checked{/if}>Mức đạt</label>
				</td>
			</tr>
			<tr>
				<td>Tỉ lệ câu trả lời đúng thấp nhất (%)</td>
				<td>
					<input type="text" name="thapnhat[]" value="{if isset($danhsach.$i) && !empty($danhsach.$i)}{$danhsach.$i.xeploai_thapnhat}{/if}" class="validate[required]">
				</td>
			</tr>
			<tr>
				<td>Tỉ lệ câu trả lời đúng cao nhất (%)</td>
				<td><input type="text" name="caonhat[]" value="{if isset($danhsach.$i) && !empty($danhsach.$i)}{$danhsach.$i.xeploai_caonhat}{/if}" class="validate[required]"></td>
			</tr>
			{/for}
			
			<tr>
				<td colspan="2" align="center" style="border-top:#ccc 1px solid; padding-top:10px;"><input type="submit" name="btnup" id="btnup" value="Cập nhật"></td>
			</tr>
		</table>
	</form>
</div>
<!--END CONTENT BOX-->