	<ul class="tab-right">
		{if in_array('caidat_xem',$login.quyen)}<li><a href="index.php?view=caidat">Cài đặt</a></li>{/if}
	</ul>
</div>
<!--END HEAD BOX--> 
<!--CONTENT BOX-->
<div class="contentbox">
	<h1>Cài đặt</h1>
	<form action="" method="post" enctype="multipart/form-data" id="frm" class="update">
		<table width="100%" border="0" cellspacing="5" cellpadding="5">
			{foreach $nhom as $n}
				<tr><td align="center" colspan="2"><p>{$n.caidat_tieude}</p></td></tr>
				{$caidat=$lib->selectall("SELECT * FROM tbcaidat WHERE caidat_trangthai=1 AND caidat_parent={$n.caidat_id} ORDER BY caidat_thutu ASC",false)}
				{foreach $caidat as $item}
				<tr>
					<td>{$item.caidat_tieude}</td>
					<td>
					{if $item.caidat_kieu=='textbox'}
						<input type="text" name="cauhinh[{$item.caidat_id}]" value="{$item.caidat_noidung}">
					{elseif $item.caidat_kieu=='textarea'}
						<textarea rows="10" cols="130" name="cauhinh[{$item.caidat_id}]">{$item.caidat_noidung}</textarea>
					{/if}
					</td>
				</tr>
				{/foreach}
			{/foreach}
			
			{if in_array('caidat_sua',$login.quyen) || in_array('caidat_them',$login.quyen)}
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" name="btnup" id="btnup" value="Cập nhật"></td>
			</tr>
			{else}
			<script>
				$('.update input, .update select, .update textarea').attr('readonly','readonly');
			</script>
			{/if}
		</table>
	</form>
</div>
<!--END CONTENT BOX-->