	<ul class="tab-right">
		{if in_array('kiemtra_xem',$login.quyen)}<li><a href="index.php?view=kiemtra">Danh sách</a></li>{/if}
		{if in_array('kiemtra_them',$login.quyen)}<li><a href="index.php?view=kiemtra&act=add">Thêm mới</a></li>{/if}
	</ul>
</div>
<!--END HEAD BOX-->
 
<!--CONTENT BOX-->
<div class="contentbox">
	<h1>Danh sách bài kiểm tra</h1>
	{if in_array('kiemtra_xem',$login.quyen)}
	
	{if in_array('kiemtra_tim',$login.quyen)}
	<p><a href="javascript:void(0)" onclick="hienan('timnangcao')">Tìm kiếm nâng cao (Bấm vào để Hiện / Ẩn)</a></p>
	<script>
		function hienan(obj) {
			var el = document.getElementById(obj);
			if ( el.style.display != 'none' ) {
				el.style.display = 'none';
				$('#show').val(0);
			}
			else {
				el.style.display = '';
				$('#show').val(1);
			}
		}
	</script>
	<form method="get" action="index.php" class="searchform">
		<input type="hidden" name="view" value="kiemtra">
		<input type="hidden" name="show" id="show" value="{if isset($show) && $show==1}1{else}0{/if}">
		<table width="100%" border="0" cellspacing="5" cellpadding="5" style="margin-bottom:20px;">
			<thead>
				<tr>
					<td>Tên bài kiểm tra</td>
					<td>
						<input type="text" name="txtkey" {if isset($txtkey)} value="{$txtkey}" {/if}>
					</td>
				</tr>
			</thead>
			
			<tbody {if isset($show) && $show==1}{else}style="display:none"{/if} id="timnangcao">
				<tr>
					<td>Khoảng thời gian<br>[ngày]/[tháng]/[năm] [giờ]:[phút]</td>
					<td>
						<input type="text" value="{if isset($txtbatdau) && !empty($txtbatdau)}{$txtbatdau|date_format:"%d/%m/%Y %H:%M"}{/if}" name="txtbatdau" style="width:308px" placeholder="Thời gian bắt đầu" class="datetimepicker">
						<input type="text" value="{if isset($txtketthuc) && !empty($txtketthuc)}{$txtketthuc|date_format:"%d/%m/%Y %H:%M"}{/if}" name="txtketthuc" style="width:308px" " placeholder="Thời gian kết thúc" class="datetimepicker"> 
					</td>
				</tr>
				
				<!--
				<tr>
					<td>Khối</td>
					<td>
					<select name="lstkhoi">
						<option value="">Tất cả khối</option>
						{$ds=$lib->selectall("SELECT * FROM tbkhoi",false)}
						{foreach $ds as $item}
						<option value="{$item.khoi_id}" {if isset($lstkhoi) && $lstkhoi==$item.khoi_id}selected{/if}>{$item.khoi_tieude}</option>
						{/foreach}
					</select>
					</td>
				</tr>
				
                <tr>
					<td>Tổ hợp</td>
					<td>
					<select name="lsttohop">
						<option value="">Tất cả tổ hợp</option>
						{$ds=$lib->selectall("SELECT * FROM tbtohop",false)}
						{foreach $ds as $item}
						<option value="{$item.tohop_id}" {if isset($lsttohop) && $lsttohop==$item.tohop_id}selected{/if}>{$item.tohop_tieude}</option>
						{/foreach}
					</select>
					</td>
				</tr>
				-->
                
				<tr style="display:none">
					<td>Môn học</td>
					<td>
					<select name="lstmonhoc">
						<option value="">Tất cả môn học</option>
						{$ds=$lib->selectall("SELECT * FROM tbmonhoc",false)}
						{foreach $ds as $item}
						<option value="{$item.monhoc_id}" {if isset($lstmonhoc) && $lstmonhoc==$item.monhoc_id}selected{/if}>{$item.monhoc_tieude}</option>
						{/foreach}
					</select>
					</td>
				</tr>

				<tr style="display:none">
					<td>Chủ đề</td>
					<td>
					<select name="lstchude">
						<option value="">Tất cả chủ đề</option>
						{$ds=$lib->selectall("SELECT * FROM tbchude WHERE chude_trangthai=1",false)}
						{foreach $ds as $item}
						<option value="{$item.chude_id}" {if isset($lstchude) && $lstchude==$item.chude_id}selected{/if}>{$item.chude_tieude}</option>
						{/foreach}
					</select>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td><input type="submit" name="btnsearch" value="Tìm kiếm"></td>
				</tr>
			</tfoot>
		</table>
	</form>
	{/if}
	
	<form action="index.php?view=kiemtra&act=del" method="post">
		<table width="100%" border="1" cellspacing="5" cellpadding="5" class="csslist">
			<tr>
				<th scope="col">ID</th>
				{if in_array('kiemtra_xoa',$login.quyen)}
				<th scope="col"><input type="checkbox" id="cball" /></th>
				{/if}
				<th scope="col">Tên bài kiểm tra</th>
				<th scope="col">Chỉ dẫn</th>
				<th scope="col">Trạng thái</th>
				<th scope="col">Thao tác</th>
			</tr>
			{foreach $danhsach as $item}
			<tr>
				<td align="center">{$item.kiemtra_id}</td>
				{if in_array('kiemtra_xoa',$login.quyen)}
				<td align="center"><input type="checkbox" name="cbitem[]" value="{$item.kiemtra_id}" /></td>
				{/if}
				<td><a href="index.php?view=kiemtra&act=edit&id={$item.kiemtra_id}">{$item.kiemtra_tieude}</a></td>
				<td>{$lib->subtitle($item.kiemtra_mota,250)}</td>
				<td align="center"> 
					{if $item.kiemtra_trangthai==1}
						<img src="../templates/admin/images/yes.png" title="Hoạt động" /> 
					{elseif $item.kiemtra_trangthai==2}
						<img src="../templates/admin/images/alert.png" title="Chưa duyệt" /> 
					{else} 
						<img src="../templates/admin/images/no.png" title="Khóa" /> 
					{/if}
				</td>
				
				{if in_array('kiemtra_sua',$login.quyen) || in_array('kiemtra_xoa',$login.quyen) || in_array('kiemtra_xemcauhoi',$login.quyen)}
					<td align="center">
					{if in_array('kiemtra_xemcauhoi',$login.quyen)}
						<a href="index.php?view=cauhoikiemtra&id={$item.kiemtra_id}"><img src="../templates/admin/images/list.png" title="Danh sách câu hỏi kiểm tra" /></a>
					{/if}
					{if in_array('kiemtra_sua',$login.quyen)}
						<a href="index.php?view=kiemtra&act=edit&id={$item.kiemtra_id}"><img src="../templates/admin/images/edit.png" title="Sửa" /></a>
					{/if}
					
					{if in_array('kiemtra_xoa',$login.quyen)}
						<a href="index.php?view=kiemtra&act=del&id={$item.kiemtra_id}" onclick="return confirm('Xóa bài kiểm tra và dữ liệu liên quan. Bạn có chắc chắn muốn xóa?')" ><img src="../templates/admin/images/del.png" title="Xóa" /></a>
					{/if}
					</td>
				{/if}
			</tr>
			{/foreach}
		</table>
		<div class="pages">{$lib->viewpage($link)}</div>
		{if in_array('kiemtra_xoa',$login.quyen)}
		<input type="submit" value="Xóa mục chọn" name="btndel" onclick="return confirm('Xóa bài kiểm tra đã chọn và dữ liệu liên quan, bao gồm: Câu hỏi kiểm tra, kết quả kiểm tra (nếu có). Bạn có chắc chắn muốn xóa?')" >
		<input type="submit" value="Xóa tất cả" name="btndelall" onclick="return confirm('Xóa tất cả bài kiểm tra và dữ liệu liên quan, bao gồm: Câu hỏi kiểm tra, kết quả kiểm tra (nếu có). Bạn có chắc chắn muốn xóa?')" >
		{/if}
	</form>
	{else}
		<h1>Bạn không có quyền xem danh sách bài kiểm tra</h1>
	{/if}
</div>
<!--END CONTENT BOX--> 