{if !isset($post.kiemtra_slnhom)}{$post.kiemtra_slnhom=1}{/if}
	<ul class="tab-right">
		<li><a href="index.php?view=kiemtra">Danh sách</a></li>
		<li><a href="index.php?view=kiemtra&act=add">Thêm mới</a></li>
	</ul>
</div>
<!--END HEAD BOX-->

<!--CONTENT BOX-->
<div class="contentbox">
	<h1>Cập nhật bài kiểm tra</h1>
	<form action="{$action}" method="post" enctype="multipart/form-data" id="frm" class="update">
		<table width="100%" border="0" cellspacing="5" cellpadding="5">
			<tr>
				<td>Người đăng bài kiểm tra</td>
				<td>
                    <p>
						<a href="index.php?view=taikhoan&act=edit&id={$login.taikhoan_id}" target="_blank">{$login.taikhoan_hoten}</a>
						<input type="hidden" name="taikhoan_id" value="{$login.taikhoan_id}">
					</p>
				</td>
			</tr>
			
			<tr>
				<td>Tùy chọn kiểm tra</td>
				<td>
					<!--
					{if in_array('kiemtra_yeucau',$login.quyen)}
						<input type="checkbox" name="kiemtra_yeucau" value="1" {if isset($post.kiemtra_yeucau) && $post.kiemtra_yeucau==1}checked{/if}>Kiểm tra theo yêu cầu
						<br>
					{/if}
					<input type="checkbox" name="kiemtra_batbuoc" value="1" {if isset($post.kiemtra_batbuoc) && $post.kiemtra_batbuoc==1}checked{/if}>Kiểm tra bắt buộc
					<br>
					<input type="checkbox" name="kiemtra_laphangngay" value="1" {if isset($post.kiemtra_laphangngay) && $post.kiemtra_laphangngay==1}checked{/if}>Lặp lại bài kiểm tra hàng ngày
					<br>
					-->
					<input type="checkbox" name="kiemtra_tudongchon" value="1" id="kiemtra_tudongchon" {if isset($post.kiemtra_tudongchon) && $post.kiemtra_tudongchon==1}checked{/if}>Tự động chọn câu hỏi
				</td>
			</tr>
			
			<tr id="slnhom" {if isset($post.kiemtra_tudongchon) && $post.kiemtra_tudongchon==1}{else}style="display:none"{/if}>
				<td>Số lượng nhóm câu hỏi</td>
				<td>
					<select name="kiemtra_slnhom" onchange="this.form.submit();">
						{for $i=1; $i<=20; $i++}
						<option value="{$i}" {if isset($post.kiemtra_slnhom) && $post.kiemtra_slnhom==$i}selected{/if}>{$i}</option>
						{/for}
					</select>
				</td>
			</tr>
			
			{if isset($post.kiemtra_tudongchon) && isset($post.kiemtra_id) && $post.kiemtra_tudongchon==1}
				{$nhomcauhoi=$lib->selectall("SELECT * FROM tbcauhoitudong WHERE kiemtra_id={$post.kiemtra_id}",false)}
			{/if}
			{for $i=0; $i<$post.kiemtra_slnhom; $i++}
			<tr class="chitietnhom" {if isset($post.kiemtra_tudongchon) && $post.kiemtra_tudongchon==1}{else}style="display:none"{/if}>
				<td>Tùy chọn câu hỏi nhóm {$i+1}</td>
				<td>
					Số lượng câu hỏi: 
					<select name="soluong[]" style="width:100px !important; min-widtH:inherit">
					{for $sl=1; $sl<100; $sl++}
						<option value="{$sl}" {if isset($nhomcauhoi.$i) && $nhomcauhoi.$i.cauhoitudong_soluong==$sl}selected{/if}>{$sl}</option>
					{/for}
					</select>

					Mức độ câu hỏi: 
					<select name="mucdo[]" style="width:300px !important; min-widtH:inherit">
						<option value="">Tất cả mức độ</option>
						{$danhsach=$lib->selectall("SELECT * FROM tbmucdo WHERE mucdo_trangthai=1",false)}
						{foreach $danhsach as $item}
						<option value="{$item.mucdo_id}" {if isset($nhomcauhoi.$i) && $nhomcauhoi.$i.mucdo_id==$item.mucdo_id}selected{/if}>{$item.mucdo_tieude}</option>
						{/foreach}
					</select>

                    Chủ đề câu hỏi: 
                    <select name="chude[]" class="chude" data-index="{$i}" style="width:350px !important; min-widtH:inherit">
                        <option value="">Tất cả chủ đề</option>
                        {$danhsach=$lib->selectall("SELECT * FROM tbchude WHERE chude_trangthai=1",false)}
                        {foreach $danhsach as $item}
                        <option value="{$item.chude_id}" {if isset($nhomcauhoi.$i) && $nhomcauhoi.$i.chude_id==$item.chude_id}selected{/if}>{$item.chude_tieude}</option>
                        {/foreach}
                    </select>

                <div style="display: none;">
					Kiểu
					<select name="loaicauhoi[]" style="width:250px !important; min-widtH:inherit">
						<option value="">Trắc nghiệm & tự luận</option>
						{$danhsach=$lib->selectall("SELECT * FROM tbloaicauhoi WHERE loaicauhoi_trangthai=1",false)}
						{foreach $danhsach as $item}
						<option value="{$item.loaicauhoi_id}" {if isset($nhomcauhoi.$i) && $nhomcauhoi.$i.loaicauhoi_id==$item.loaicauhoi_id}selected{/if}>{$item.loaicauhoi_tieude}</option>
						{/foreach}
					</select>

                    Phòng thi
                    <select name="phongthi[]" class="phongthi" data-index="{$i}" style="width:110px !important; min-widtH:inherit" onChange="">
                        <option value="">Tất cả Phòng thi</option>
                        {$danhsach=$lib->selectall("SELECT * FROM tbphongthi WHERE phongthi_trangthai=1",false)}
                        {foreach $danhsach as $item}
                        <option value="{$item.phongthi_id}" {if isset($nhomcauhoi.$i) && $nhomcauhoi.$i.phongthi_id==$item.phongthi_id}selected{/if}>{$item.phongthi_tieude}</option>
                        {/foreach}
                    </select>

					Khối
					<select name="khoi[]" style="width:90px !important; min-widtH:inherit" style="display: none;">
						{$danhsach=$lib->selectall("SELECT * FROM tbkhoi",false)}
						<option value="">Tất cả khối</option>
						{foreach $danhsach as $item}
						<option value="{$item.khoi_id}" {if isset($nhomcauhoi.$i) && $nhomcauhoi.$i.khoi_id==$item.khoi_id}selected{/if}>{$item.khoi_tieude}</option>
					{/foreach}
					</select>

                    Môn học
                    <select name="monhoc[]" class="monhoc" data-index="{$i}"  style="width:120px !important; min-widtH:inherit">
                        <option value="">Tất cả môn học</option>
                        {$danhsach=$lib->selectall("SELECT * FROM tbmonhoc WHERE monhoc_trangthai=1",false)}
                        {foreach $danhsach as $item}
                        
                            <option value="{$item.monhoc_id}" {if isset($nhomcauhoi.$i) && $nhomcauhoi.$i.monhoc_id==$item.monhoc_id}selected{/if}>{$item.monhoc_tieude}</option>
                            
                        {/foreach}
                    </select>
                </div>


				</td>
			</tr>
			{/for}
            
            <script type="text/javascript">				
				//Load môn học nếu chọn tổ hợp
				function loadmonhoc(index)
				{
					var value = $('.phongthi[data-index="'+ index +'"]').val();
					$.get('/loadmonhoc.php?value='+ value,function(data){
						$('.monhoc[data-index="'+ index +'"]').html(data);
					});
				}
				
				//Load chủ đề nếu chọn môn học
				function loadchude(index)
				{
					var value = $('.monhoc[data-index="'+ index +'"]').val();
					var phongthi_id = $('.phongthi[data-index="'+ index +'"]').val();
					$.get('/loadchude.php?value='+ value + '&phongthi_id='+ phongthi_id,function(data){
						$('.chude[data-index="'+ index +'"]').html(data);
					});
				}
				
				$('.phongthi').change(function(e) {
					var index = $(this).attr('data-index');
					loadmonhoc(index);
					loadchude(index);
				});
				
				$('.monhoc').change(function(e) {
					var index = $(this).attr('data-index');
					loadchude(index);
				});
			</script>
			
			<tr>
				<td>Tên bài kiểm tra *</td>
				<td><input type="text" name="kiemtra_tieude" class="validate[required]" value="{if isset($post.kiemtra_tieude)}{$post.kiemtra_tieude}{/if}"></td>
			</tr>
			
			<tr>
				<td>Chỉ dẫn</td>
				<td><textarea name="kiemtra_mota" class="ckeditor" cols="130" rows="5">{if isset($post.kiemtra_mota)}{$post.kiemtra_mota}{/if}</textarea></td>
			</tr>
			
			<tr style="display: none;">
				<td>Khối</td>
				<td>
					{$danhsach=$lib->selectall("SELECT * FROM tbkhoi",false)}
					<select name="khoi_id">
					{foreach $danhsach as $item}
						<option value="{$item.khoi_id}" {if isset($post.khoi_id) && $post.khoi_id==$item.khoi_id}selected{/if}>{$item.khoi_tieude}</option>
					{/foreach}
					</select>
				</td>
			</tr>
			
            <tr>
				<td>Phòng thi kiểm tra</td>
				<td>
					{$danhsach=$lib->selectall("SELECT * FROM tbphongthi WHERE phongthi_trangthai=1",false)}
					{if $act=='edit' && !is_array($post.phongthi_id)}
						{$listphongthi = $lib->selectall("SELECT DISTINCT phongthi_id FROM tbkiemtra_phongthi WHERE kiemtra_id={$post.kiemtra_id}", false)}
						{$post.phongthi_id = array()}
						{foreach $listphongthi as $item}
							{$post.phongthi_id[] = $item.phongthi_id}
						{/foreach}
					{/if}
					{foreach $danhsach as $item}
						<p><label><input type="checkbox" name="phongthi_id[]" value="{$item.phongthi_id}" {if isset($post.phongthi_id) && in_array($item.phongthi_id, $post.phongthi_id)}checked{/if}> {$item.phongthi_tieude}</lable></p>
					{/foreach}
				</td>
			</tr>
            
			<tr style="display:none">
				<td>Môn học kiểm tra</td>
				<td>
					{$danhsach=$lib->selectall("SELECT * FROM tbmonhoc",false)}
					<select name="monhoc_id">
                    	<option value="">Tất cả môn học</option>
						{foreach $danhsach as $item}
						<option value="{$item.monhoc_id}" {if isset($post.monhoc_id) && $post.monhoc_id==$item.monhoc_id}selected{/if}>{$item.monhoc_tieude}</option>
						{/foreach}
					</select>
				</td>
			</tr>
			
			<tr style="display:none">
				<td>Chủ đề kiểm tra</td>
				<td>
					<select name="chude_id">
						<option value="">Tất cả chủ đề</option>
						{$danhsach=$lib->selectall("SELECT * FROM tbchude WHERE chude_trangthai=1",false)}
						{foreach $danhsach as $item}
						<option value="{$item.chude_id}" {if isset($post.chude_id) && $post.chude_id==$item.chude_id}selected{/if}>{$item.chude_tieude}</option>
						{/foreach}
					</select>
				</td>
			</tr>
			
			<tr>
				<td>Thời gian bắt đầu *<br>[ngày]/[tháng]/[năm] [giờ]:[phút]</td>
				<td>
					<input type="text" name="kiemtra_batdau" class="datetimepicker validate[required]" value="{if isset($post.kiemtra_batdau) && $post.kiemtra_batdau!='0000-00-00 00:00:00' && $post.kiemtra_batdau!='01/01/1970 01:00'}{date('d/m/Y H:i', strtotime($post.kiemtra_batdau))}{else}{$smarty.now|date_format:"%d/%m/%Y %H:%M"}{/if}">
				</td>
			</tr>
			
			<tr>
				<td>Thời gian kết thúc *<br>[ngày]/[tháng]/[năm] [giờ]:[phút]</td>
				<td>
					<input type="text" name="kiemtra_ketthuc" class="datetimepicker validate[required]" value="{if isset($post.kiemtra_ketthuc) && $post.kiemtra_ketthuc!='0000-00-00 00:00:00'}{date('d/m/Y H:i', strtotime($post.kiemtra_ketthuc))}{else}{"+1 days"|date_format:"%d/%m/%Y %H:%M"}{/if}">
				</td>
			</tr>
			
			<tr>
				<td>Thời gian thi cho mỗi câu hỏi<br>[giờ]:[phút]:[giây]</td>
				<td>
					<input type="text" name="kiemtra_thoigian" id="kiemtra_thoigian" class="timepicker" value="{if isset($post.kiemtra_thoigian) && $post.kiemtra_thoigian!='00:00:00'}{date('H:i:s', strtotime($post.kiemtra_thoigian))}{else}00:15:00{/if}" {if isset($post.kiemtra_khongthoigian) && $post.kiemtra_khongthoigian==1}disabled{/if}>
					<input type="checkbox" name="kiemtra_khongthoigian" id="kiemtra_khongthoigian" value="1" {if isset($post.kiemtra_khongthoigian) && $post.kiemtra_khongthoigian==1}checked{/if}>Không dùng
				</td>
			</tr>
			
			<tr>
				<td>Cho phép làm bài kiểm tra tối đa</td>
				<td>
					<select name="kiemtra_thulai">
						{for $i=1;$i<=10; $i++}
							<option value="{$i}" {if isset($post.kiemtra_thulai) && $post.kiemtra_thulai==$i}selected{/if}>{$i} lần</option>
						{/for}
						<option value="9999" {if isset($post.kiemtra_thulai) && $post.kiemtra_thulai=='9999'}selected{/if}>Không giới hạn</option>
					</select>
				</td>
			</tr>
			
			<tr style="display: none;">
				<td>Cách trình bày câu hỏi</td>
				<td>
					<select name="kiemtra_kieuhienthi">
						<option value="1" {if isset($post.kiemtra_kieuhienthi) && $post.kiemtra_kieuhienthi==1}selected{/if}>Từng câu một</option>
						{for $i=2;$i<=20; $i++}
							<option value="{$i}" {if isset($post.kiemtra_kieuhienthi) && $post.kiemtra_kieuhienthi==$i}selected{/if}>{$i} câu một</option>
						{/for}
						<option value="" {if isset($post.kiemtra_kieuhienthi) && $post.kiemtra_kieuhienthi==''}selected{/if}>Tất cả câu hỏi</option>
					</select>
				</td>
			</tr>
			
			<tr>
				<td>Thang điểm</td>
				<td>
					<select name="thangdiem_id">
						{$danhsach=$lib->selectall("SELECT * FROM tbthangdiem WHERE thangdiem_trangthai=1",false)}
						{foreach $danhsach as $item}
							<option value="{$item.thangdiem_id}" {if isset($post.thangdiem_id) && $post.thangdiem_id==$i}selected{/if}>{$item.thangdiem_tieude}</option>
						{/foreach}
					</select>
				</td>
			</tr>
			
			<tr style="display: none;">
				<td>Email nhận kết quả kiểm tra <br>( Email ngăn cách nhau bởi dấu ; )</td>
				<td>
					<input type="text" name="kiemtra_emailkhac" value="{if isset($post.kiemtra_emailkhac)}{$post.kiemtra_emailkhac}{/if}">
					<input type="checkbox" name="kiemtra_emailthisinh" value="1" {if isset($post.kiemtra_emailthisinh) && $post.kiemtra_emailthisinh==1}checked{/if}>Gửi kết quả cho thí sinh
				</td>
			</tr>
			
			<tr style="display: none;">
				<td>Áp dụng cho nhóm thành viên <br>(Thuộc nhóm thành viên nào, phòng thi nào)</td>
				<td>
					<ul id="nhom">
						{$nhom=$lib->selectall("SELECT * FROM tbnhomtaikhoan WHERE nhomtaikhoan_trangthai=1",false)}
						{foreach $nhom as $n}
						{if isset($post.kiemtra_id)}
							{$count=$lib->rowCount("SELECT * FROM tbnhomtaikhoankiemtra WHERE kiemtra_id={$post.kiemtra_id} AND nhomtaikhoan_id={$n.nhomtaikhoan_id}")}
						{/if}						
						<li>
							<label>
								<input type="checkbox" name="nhomtaikhoankiemtra[]" value="{$n.nhomtaikhoan_id}" alt="nhom{$n.nhomtaikhoan_id}" {if isset($post.kiemtra_id) && $count>0}checked{/if}>
								{$n.nhomtaikhoan_tieude}
							</label>
							<ul id="nhom{$n.nhomtaikhoan_id}" {if isset($post.kiemtra_id) && $count>0}{else}style="display:none;"{/if}>
								{$truong=$lib->selectall("SELECT * FROM tbtruong WHERE truong_trangthai=1",false)}
								{foreach $truong as $t}
								{if isset($post.kiemtra_id)}
									{$count=$lib->rowCount("SELECT * FROM tbnhomtaikhoankiemtra WHERE kiemtra_id={$post.kiemtra_id} AND nhomtaikhoan_id={$n.nhomtaikhoan_id} AND truong_id={$t.truong_id}")}
								{/if}
								<li>
									<label>
										<input type="checkbox" name="truongkiemtra[]" value="{$t.truong_id}" alt="truong{$n.nhomtaikhoan_id}-{$t.truong_id}" {if isset($post.kiemtra_id) && $count>0}checked{/if}> {$t.truong_tieude}
									</label>
									<ul id="truong{$n.nhomtaikhoan_id}-{$t.truong_id}" {if isset($post.kiemtra_id) && $count>0}{else}style="display:none;"{/if}>
										{$khoi=$lib->selectall("SELECT * FROM tbkhoi",false)}
										{foreach $khoi as $k}
										{if isset($post.kiemtra_id)}
											{$count=$lib->rowCount("SELECT * FROM tbnhomtaikhoankiemtra WHERE kiemtra_id={$post.kiemtra_id} AND nhomtaikhoan_id={$n.nhomtaikhoan_id} AND truong_id={$t.truong_id} AND khoi_id={$k.khoi_id}")}
										{/if}
										<li>
											<label>
												<input type="checkbox" name="khoikiemtra[]" value="{$k.khoi_id}" alt="khoi{$n.nhomtaikhoan_id}-{$t.truong_id}-{$k.khoi_id}" {if isset($post.kiemtra_id) && $count>0}checked{/if}> {$k.khoi_tieude}
											</label>
											
											
											<ul id="khoi{$n.nhomtaikhoan_id}-{$t.truong_id}-{$k.khoi_id}" {if isset($post.kiemtra_id) && $count>0}{else}style="display:none;"{/if}>
												{$lop=$lib->selectall("SELECT * FROM tblop WHERE truong_id={$t.truong_id} AND khoi_id={$k.khoi_id}",false)}
												{foreach $lop as $l}
												{if isset($post.kiemtra_id)}
													{$count=$lib->rowCount("SELECT * FROM tbnhomtaikhoankiemtra WHERE kiemtra_id={$post.kiemtra_id} AND nhomtaikhoan_id={$n.nhomtaikhoan_id} AND truong_id={$t.truong_id} AND lop_id={$l.lop_id}")}
												{/if}
												<li>
													<label>
														<input type="checkbox" name="lopkiemtra[]" value="{$n.nhomtaikhoan_id};{$t.truong_id};{$k.khoi_id};{$l.lop_id}" {if isset($post.kiemtra_id) && $count>0}checked{/if}>{$l.lop_tieude}
													</label>
												</li>
												{/foreach}
											</ul>
											
											
											
										</li>
										{/foreach}
									</ul>
								</li>
								{/foreach}
							</ul>
						</li>
						{/foreach}
					</ul>
				</td>
			</tr>
			
			<tr  style="display: none;">
				<td>Áp dụng cho từng thành viên</td>
				<td>
					{if isset($post.kiemtra_id)}
						{$arr=$lib->selectall("SELECT taikhoan_id FROM tbtaikhoankiemtra WHERE kiemtra_id={$post.kiemtra_id}",false)}
						{$arr_taikhoan=array()}
						{$str_taikhoan=''}
						{foreach $arr as $item}
							{$arr_taikhoan[]=$item.taikhoan_id}
							{$str_taikhoan="`$str_taikhoan``$item.taikhoan_id`;"}
						{/foreach}
					{/if}
					<select name="lsttaikhoankiemtra" id="lsttaikhoankiemtra" class="multi-select"  multiple="multiple">
						{$nhom=$lib->selectall("SELECT * FROM tbnhomtaikhoan WHERE nhomtaikhoan_trangthai=1",false)}
						{foreach $nhom as $n}
							{$taikhoan=$lib->selectall("SELECT * FROM tbtaikhoan WHERE taikhoan_trangthai=1 AND nhomtaikhoan_id={$n.nhomtaikhoan_id}",false)}
							{if !empty($taikhoan)}
								<optgroup label="{$n.nhomtaikhoan_tieude}">
								{foreach $taikhoan as $tk}
									<option value="{$tk.taikhoan_id}" {if isset($arr_taikhoan) && in_array($tk.taikhoan_id,$arr_taikhoan)}selected{/if}>{$tk.taikhoan_hoten}</option>
								{/foreach}
								</optgroup>
							{/if}
						{/foreach}
					</select>
					
					<input type="hidden" name="taikhoankiemtra" id="taikhoankiemtra" value="{if isset($str_taikhoan)}{$str_taikhoan}{/if}">
					<script>
						function displayVals() {
						  var multipleValues = $( "#lsttaikhoankiemtra" ).val() || [];
						  
						  $( "#taikhoankiemtra" ).val(multipleValues.join( ";" ));
						}
						$( "#lsttaikhoankiemtra" ).change( displayVals );
						displayVals();
					</script>
				</td>
			</tr>
			
			<tr>
				<td>Tùy chọn đảo</td>
				<td>
					<input type="checkbox" name="kiemtra_daocauhoi" value="1" {if isset($post.kiemtra_daocauhoi) && $post.kiemtra_daocauhoi==1}checked{/if}>Đảo câu hỏi ngẫu nhiên
                    <!--
					<br>
					<input type="checkbox" name="kiemtra_daotraloi" value="1" {if isset($post.kiemtra_daotraloi) && $post.kiemtra_daotraloi==1}checked{/if}>Đảo câu trả lời ngẫu nhiên
                    -->
				</td>
			</tr>
			
			<tr>
				<td>Tùy chọn hiển thị kết quả</td>
				<td>
					<input type="checkbox" name="kiemtra_hiendiem" value="1" {if isset($post.kiemtra_hiendiem) && $post.kiemtra_hiendiem==1}checked{/if}>Hiển thị điểm số
					<div style="display: none;">
						<br>
						<input type="checkbox" name="kiemtra_hienxeploai" value="1" {if isset($post.kiemtra_hienxeploai) && $post.kiemtra_hienxeploai==1}checked{/if}>Hiển thị xếp loại
					</div>
					<br>
					<input type="checkbox" name="kiemtra_xemlaibaithi" value="1" {if isset($post.kiemtra_xemlaibaithi) && $post.kiemtra_xemlaibaithi==1}checked{/if}>Xem lại bài thi sau khi hệ thống trả về kết quả
				</td>
			</tr>
			
			<tr>
				<td>Trạng thái</td>
				<td>
					<label>
						<input name="kiemtra_trangthai" type="radio" value="1" {if isset($post.kiemtra_trangthai) && $post.kiemtra_trangthai==1}checked{else}checked{/if}>
						Hoạt động </label>
					<label>
						<input name="kiemtra_trangthai" type="radio" value="2" {if isset($post.kiemtra_trangthai) && $post.kiemtra_trangthai==2}checked{/if}>
						Chờ phê duyệt </label>
					<label>
					<label>
						<input type="radio" name="kiemtra_trangthai" value="0" {if isset($post.kiemtra_trangthai) && $post.kiemtra_trangthai==0}checked{/if}>
						Khóa </label></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" name="btnup" id="btnup" value="Cập nhật"></td>
			</tr>
		</table>
	</form>
</div>
<!--END CONTENT BOX-->

<!-- Select2 -->
<link rel="stylesheet" type="text/css" href="../templates/admin/js/select2/select2.css"/>
<script type="text/javascript" src="../templates/admin/js/select2/select2.min.js"></script>
<script>
	$(".multi-select").select2({
	  placeholder: "Vui lòng bấm vào đề chọn danh sách"
	});
</script>
<!-- End Select2 -->

<script>
	$('#kiemtra_tudongchon').click(function(e) {
		var stt=$(this).attr('checked');
		if(stt=='checked'){
			$('#slnhom').show();
			$('.chitietnhom').show();	
		}else{
			$('#slnhom').hide();
			$('.chitietnhom').hide();	
		}
	});
	
	$('#kiemtra_khongthoigian').click(function(e) {
		var stt=$(this).attr('checked');
		if(stt=='checked'){
			$('#kiemtra_thoigian').attr('disabled','disabled');
		}else{
			$('#kiemtra_thoigian').removeAttr('disabled');	
		}
	});
	
	function checkone(obj){
		var stt=obj.attr('checked');
		var show=obj.attr('alt');
		if(stt=='checked'){
			$('#nhom #'+show).parent('li').each(function(i, el){
				$(el).find('input').prop('checked', true);
			});
			
			$('#nhom #'+show).parent('li').each(function(i, el){
				$(el).find('ul').css('display','block');
			});
		}else{
			$('#nhom #'+show).parent('li').each(function(i, el){
				$(el).find('input').prop('checked', false);
			});
			
			$('#nhom #'+show).parent('li').each(function(i, el){
				$(el).find('ul').css('display','none');
			});
		}
	}
	
	$('#nhom input[type=checkbox]').click(function(e) {
		checkone($(this));
	});
</script>