	<ul class="tab-right">
		{if in_array('taikhoan_xem',$login.quyen)}<li><a href="index.php?view=taikhoan">Danh sách</a></li>{/if}
		{if in_array('taikhoan_them',$login.quyen)}<li><a href="index.php?view=taikhoan&act=add">Thêm mới</a></li>{/if}
		{if in_array('taikhoan_nhap',$login.quyen)}<li><a href="index.php?view=taikhoan&act=import">Nhập từ file Excel</a></li>{/if}
	</ul>
</div>
<!--END HEAD BOX--> 
<!--CONTENT BOX-->
<div class="contentbox">
	{if in_array('taikhoan_xem',$login.quyen)}
	
	<h1>Danh sách thành viên</h1>
	{if in_array('taikhoan_tim',$login.quyen)}
	<p><a href="javascript:void(0)" onclick="hienan('timnangcao')">Tìm kiếm nâng cao (Bấm vào để Hiện / Ẩn)</a></p>
	<script>
		function hienan(obj) {
			var el = document.getElementById(obj);
			if ( el.style.display != 'none' ) {
				el.style.display = 'none';
				$('#show').val(0);
			}
			else {
				el.style.display = '';
				$('#show').val(1);
			}
		}
	</script>
	
	<form method="get" action="index.php" id="frmtimkiem" class="searchform">
		<input type="hidden" name="view" value="taikhoan">
		<input type="hidden" name="show" id="show" value="{if isset($show) && $show==1}1{else}0{/if}">
		<table width="100%" border="0" cellspacing="5" cellpadding="5" style="margin-bottom:20px;">
			<thead>
				<tr>
					<td>Tên đăng nhập</td>
					<td>
						<input type="text" name="txtuser" {if isset($txtuser)} value="{$txtuser}" {/if}>
					</td>
				</tr>
			</thead>
			
			<tbody {if isset($show) && $show==1}{else}style="display:none"{/if} id="timnangcao">
				<tr>
					<td>Họ tên</td>
					<td>
						<input type="text" name="txthoten" {if isset($txthoten)} value="{$txthoten}" {/if}>
					</td>
				</tr>
				<tr>
					<td>Email</td>
					<td>
						<input type="text" name="txtemail" {if isset($txtemail)} value="{$txtemail}" {/if}>
					</td>
				</tr>
				<tr>
					<td>Số điện thoại</td>
					<td>
						<input type="text" name="txtphone" {if isset($txtphone)} value="{$txtphone}" {/if}>
					</td>
				</tr>
				<tr>
					<td>Nhóm thành viên</td>
					<td>
						<select name="lstnhomtaikhoan">
							<option value="">Tất cả nhóm thành viên</option>
							{$ds=$lib->selectall("SELECT * FROM tbnhomtaikhoan WHERE nhomtaikhoan_trangthai=1",false)}
							{foreach $ds as $item}
							<option value="{$item.nhomtaikhoan_id}" {if isset($lstnhomtaikhoan) && $lstnhomtaikhoan==$item.nhomtaikhoan_id}selected{/if}>{$item.nhomtaikhoan_tieude}</option>
							{/foreach}
						</select>
					</td>				
				</tr>
				
				<tr>
					<td>Phòng thi</td>
					<td>
					<select name="lstphongthi">
						<option value="">Tất cả phòng thi</option>
						{$ds=$lib->selectall("SELECT * FROM tbphongthi WHERE phongthi_trangthai=1",false)}
						{foreach $ds as $item}
						<option value="{$item.phongthi_id}" {if isset($lstphongthi) && $lstphongthi==$item.phongthi_id}selected{/if}>{$item.phongthi_tieude}</option>
						{/foreach}
					</select>
					</td>
				</tr>

				<!--				
				<tr>
					<td>Khối</td>
					<td>
					<select name="lstkhoi">
						<option value="">Tất cả trường</option>
						{$ds=$lib->selectall("SELECT * FROM tbkhoi WHERE khoi_trangthai=1",false)}
						{foreach $ds as $item}
						<option value="{$item.khoi_id}" {if isset($lstkhoi) && $lstkhoi==$item.khoi_id}selected{/if}>{$item.khoi_tieude}</option>
						{/foreach}
					</select>
					</td>
				</tr>
				
				<tr>
					<td>Lớp</td>
					<td>
					<select name="lstlop">
						<option value="">Tất cả lớp</option>
						{$ds=$lib->selectall("SELECT * FROM tblop WHERE lop_trangthai=1",false)}
						{foreach $ds as $item}
						<option value="{$item.lop_id}" {if isset($lstlop) && $lstlop==$item.lop_id}selected{/if}>{$item.lop_tieude}</option>
						{/foreach}
					</select>
					</td>
				</tr>
				-->
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td><input type="submit" name="btnsearch" value="Tìm kiếm"></td>
				</tr>
			</tfoot>
		</table>
	</form>
	{/if}
	
	<form action="index.php?view=taikhoan&act=del" method="post">
		<table width="100%" border="1" cellspacing="5" cellpadding="5" class="csslist">
			<tr>
				<th scope="col">ID</th>
				{if in_array('taikhoan_xoa',$login.quyen)}
				<th scope="col"><input type="checkbox" id="cball" /></th>
				{/if}
				<th scope="col">Tên đăng nhập</th>
				<th scope="col">Họ tên</th>
				<th scope="col">Phòng thi</th>
				<th scope="col">Email</th>
				<th scope="col">Điện thoại</th>
				<th scope="col">Trạng thái</th>
				{if in_array('taikhoan_sua',$login.quyen) || in_array('taikhoan_xoa',$login.quyen)}
				<th scope="col">Thao tác</th>
				{/if}
			</tr>
			{foreach $danhsach as $item}
			<tr>
				<td align="center">{$item.taikhoan_id}</td>
				{if in_array('taikhoan_xoa',$login.quyen)}
				<td align="center"><input type="checkbox" name="cbitem[]" value="{$item.taikhoan_id}" /></td>
				{/if}
				<td>
					<a href="index.php?view=taikhoan&act=edit&id={$item.taikhoan_id}">{$item.taikhoan_user}</a>
				</td>
				<td>{$item.taikhoan_hoten}</td>
				<td>
				{if !empty($item.phongthi_id)}
					{$phongthi=$lib->selectone("SELECT * FROM tbphongthi WHERE phongthi_id={$item.phongthi_id}")}
					{$phongthi.phongthi_tieude}
				{else}
					Tất cả phòng thi
				{/if}
				</td>
				<td>{$item.taikhoan_email}</td>
				<td>{$item.taikhoan_phone}</td>
				<td align="center"> {if $item.taikhoan_trangthai==1} <img src="../templates/admin/images/yes.png" title="Hoạt động" /> {else} <img src="../templates/admin/images/no.png" title="Khóa" /> {/if} </td>
				
				{if in_array('taikhoan_sua',$login.quyen) || in_array('taikhoan_xoa',$login.quyen)}
					<td align="center">
					{if in_array('taikhoan_sua',$login.quyen)}
						<a href="index.php?view=taikhoan&act=edit&id={$item.taikhoan_id}"><img src="../templates/admin/images/edit.png" title="Sửa" /></a>
					{/if}
					
					{if in_array('taikhoan_xoa',$login.quyen)}
						<a href="index.php?view=taikhoan&act=del&id={$item.taikhoan_id}" onclick="return confirm('Xóa tài khoản và dữ liệu liên quan, bao gồm: Câu hỏi, chủ đề, bài kiểm tra, kết quả kiểm tra (nếu có). Bạn có chắc chắn không?')" ><img src="../templates/admin/images/del.png" title="Xóa" /></a>
					{/if}
					</td>
				{/if}
			</tr>
			{/foreach}
		</table>
		<div class="pages">{$lib->viewpage($link)}</div>
		
		{if in_array('taikhoan_xoa',$login.quyen)}
		<input type="submit" value="Xóa mục chọn" name="btndel" onclick="return confirm('Xóa tài khoản đã chọn và dữ liệu liên quan, bao gồm: Câu hỏi, chủ đề, bài kiểm tra, kết quả kiểm tra (nếu có). Bạn có chắc chắn không?')">
		<input type="submit" value="Xóa tất cả" name="btndelall" onclick="return confirm('Xóa tất cả tài khoản và dữ liệu liên quan, bao gồm: Câu hỏi, chủ đề, bài kiểm tra, kết quả kiểm tra (nếu có). Bạn có chắc chắn không?')">
		{/if}
	</form>
	{else}
		<h1>Bạn không có quyền xem danh sách thành viên</h1>
	{/if}
</div>
<!--END CONTENT BOX--> 