	<ul class="tab-right">
		{if in_array('taikhoan_xem',$login.quyen)}<li><a href="index.php?view=taikhoan">Danh sách</a></li>{/if}
		{if in_array('taikhoan_them',$login.quyen)}<li><a href="index.php?view=taikhoan&act=add">Thêm mới</a></li>{/if}
		{if in_array('taikhoan_nhap',$login.quyen)}<li><a href="index.php?view=taikhoan&act=import">Nhập từ file Excel</a></li>{/if}
	</ul>
</div>
<!--END HEAD BOX--> 
<!--CONTENT BOX-->
<div class="contentbox import">
	<h1>Import thành viên từ file Excel</h1>
	{if in_array('taikhoan_nhap',$login.quyen)}
	<form method="post" action="" enctype="multipart/form-data">
		<p>
			<input type="file" name="nfile">
		</p>
		<p>
			<input type="submit" name="btnup" value="Nhập dữ liệu">
		</p>
	</form>
	
	{if isset($ketqua)}{$ketqua}{/if}
	{/if}
</div>
<!--END CONTENT BOX--> 