	<ul class="tab-right">
		{if in_array('cauhoi_xem',$login.quyen)}<li><a href="index.php?view=cauhoi">Danh sách</a></li>{/if}
		{if in_array('cauhoi_them',$login.quyen)}<li><a href="index.php?view=cauhoi&act=add">Thêm mới</a></li>{/if}
		{if in_array('cauhoi_nhap',$login.quyen)}<li><a href="index.php?view=cauhoi&act=import">Nhập từ file Excel</a></li>{/if}
	</ul>
</div>
<!--END HEAD BOX--> 

<!--CONTENT BOX-->
<div class="contentbox">
	<h1>Cập nhật câu hỏi</h1>
	<form action="{$action}" method="post" enctype="multipart/form-data" id="frm" class="update">
		<table width="100%" border="0" cellspacing="5" cellpadding="5">		
			<tr>
				<td>Người đăng tin</td>
				<td>
				{if isset($detail)}
					{$one=$lib->selectone("SELECT * FROM tbtaikhoan WHERE taikhoan_id={$detail.taikhoan_id}")}
					<p><a href="index.php?view=taikhoan&act=edit&id={$one.taikhoan_id}">{$one.taikhoan_hoten}</a></p>
				{else}
					<p><a href="index.php?view=taikhoan&act=edit&id={$login.taikhoan_id}">{$login.taikhoan_hoten}</a></p>
				{/if}
				</td>
			</tr>
			
			<tr>
				<td>Loại câu hỏi</td>
				<td>
					<select name="lstloaicauhoi" onchange="this.form.submit();">
						{$danhsach=$lib->selectall("SELECT * FROM tbloaicauhoi WHERE loaicauhoi_trangthai=1",false)}
						{foreach $danhsach as $item}
						<option value="{$item.loaicauhoi_id}" {if !empty($loaicauhoi) && $loaicauhoi==$item.loaicauhoi_id}selected{/if}>{$item.loaicauhoi_tieude}</option>
						{/foreach}
					</select>
				</td>
			</tr>
			
			<tr {if $loaicauhoi_ma=='dungsai' || $loaicauhoi_ma=='tuluan'}style="display:none"{/if}>
				<td>Số lượng câu trả lời</td>
				<td>
					<select name="lstsoluong" onchange="this.form.submit();">
						{for $i=2; $i<=10; $i++}
						<option value="{$i}" {if !empty($soluong) && $soluong==$i}selected{/if}>{$i}</option>
						{/for}
					</select>
				</td>
			</tr>
			
			<tr {if $loaicauhoi_ma!='nhieuluachon'}style="display:none"{/if}>
				<td>Đảo câu trả lời</td>
				<td>
					<select name="lstdaotraloi">
						<option value="2" {if isset($detail) && $detail.cauhoi_daotraloi==2}selected{/if}>Mặc định (theo bài kiểm tra)</option>
						<option value="1" {if isset($detail) && $detail.cauhoi_daotraloi==1}selected{/if}>Đảo vị trí</option>
						<option value="0" {if isset($detail) && $detail.cauhoi_daotraloi==0}selected{/if}>Không đảo</option>
					</select>
				</td>
			</tr>
			
			<tr>
				<td>Mức độ *</td>
				<td>
					<select name="lstmucdo">
						{$danhsach=$lib->selectall("SELECT * FROM tbmucdo WHERE mucdo_trangthai=1",false)}
						{foreach $danhsach as $item}
						<option value="{$item.mucdo_id}" {if isset($detail) && $detail.mucdo_id==$item.mucdo_id}selected{/if}>{$item.mucdo_tieude}</option>
						{/foreach}
					</select>
				</td>
			</tr>
			
			<tr style="display: none;">
				<td>Khối *</td>
				<td>
					{$danhsach=$lib->selectall("SELECT * FROM tbkhoi",false)}
					<select name="lstkhoi">
					{foreach $danhsach as $item}
						<option value="{$item.khoi_id}" {if isset($detail) && $detail.khoi_id==$item.khoi_id}selected{/if}>{$item.khoi_tieude}</option>
					{/foreach}
					</select>
				</td>
			</tr>
			
			
			<tr style="display: none;">
				<td>Môn học *</td>
				<td>
					{$danhsach=$lib->selectall("SELECT * FROM tbmonhoc",false)}
					<select name="lstmonhoc" id="lstmonhoc">
					{foreach $danhsach as $item}
						<option value="{$item.monhoc_id}" {if isset($detail) && $detail.monhoc_id==$item.monhoc_id}selected{/if}>{$item.monhoc_tieude}</option>
					{/foreach}
					</select>
				</td>
			</tr>
			
			<tr>
				<td>Chủ đề *</td>
				<td>
					<select name="lstchude" id="lstchude" class="validate[required]" required>
                    	<option value="">- Chọn chủ đề -</option>
						{$danhsach=$lib->selectall("SELECT * FROM tbchude WHERE chude_trangthai=1",false)}
						{foreach $danhsach as $item}
						<option value="{$item.chude_id}" {if isset($detail) && $detail.chude_id==$item.chude_id}selected{/if}>{$item.chude_tieude}</option>
						{/foreach}
					</select>
				</td>
			</tr>
            
            <script type="text/javascript">		
				//Load chủ đề nếu chọn môn học
				function loadchude(value)
				{
					$.get('/loadchude.php?value='+ value,function(data){
						$('#lstchude').html(data);
					});
				}
				
				$('#lstmonhoc').change(function(e) {
					var value = $(this).val();
					loadchude(value);
				});
			</script>
			
			<tr>
				<td>Câu hỏi</td>
				<td><textarea name="txtcauhoi" class="ckeditor" rows="5" cols="130">{if isset($detail)}{$detail.cauhoi_tieude}{/if}</textarea></td>
			</tr>
			
			{if isset($detail)}
				{$danhsach=$lib->selectall("SELECT * FROM tbdapan WHERE dapan_trangthai=1 AND cauhoi_id={$detail.cauhoi_id} LIMIT $soluong",false)}
				{for $i=0; $i<$soluong; $i++}
				<tr>
					<td>Đáp án {if $soluong>1}{$i+1}{/if}</td>
					<td>
						<textarea name="dapan[{$danhsach.$i.dapan_id}]" cols="130" rows="3">{if isset($danhsach.$i) && !empty($danhsach.$i)}{$danhsach.$i.dapan_tieude}{/if}</textarea>
						<input type="checkbox" name="dapandung[{$danhsach.$i.dapan_id}]" value="{$danhsach.$i.dapan_id}" {if isset($danhsach.$i) && $danhsach.$i.dapan_dung==1}checked{/if}>
						Đáp án đúng
					</td>
				</tr>
				{/for}
			{else}
				{for $i=0; $i<$soluong; $i++}
				<tr>
					<td>Đáp án {if $soluong>1}{$i+1}{/if}</td>
					<td><textarea class="validate[required]" name="dapan[{$i}]" cols="130" rows="3">{if isset($dapan.$i) && !empty($dapan.$i)}{$dapan.$i}{/if}</textarea><input type="checkbox" name="dapandung[{$i}]" value="{$i}">Đáp án đúng</td>
				</tr>
				{/for}
			{/if}
			
			<tr>
				<td>Trạng thái</td>
				<td><label>
						<input name="rdtrangthai" type="radio" id="rdtrangthai_0" value="1" {if isset($detail) && $detail.cauhoi_trangthai==1} checked{else} checked {/if}>
						Hoạt động </label>
					<label>
						<input type="radio" name="rdtrangthai" value="0" id="rdtrangthai_1" {if isset($detail) && $detail.cauhoi_trangthai==0} checked {/if}>
						Khóa </label></td>
			</tr>
			{if in_array('cauhoi_sua',$login.quyen) || in_array('cauhoi_them',$login.quyen)}
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" name="btnup" id="btnup" value="Cập nhật"></td>
			</tr>
			{else}
			<script>
				$('.update input, .update select, .update textarea').attr('readonly','readonly');
			</script>
			{/if}
		</table>
	</form>
</div>
<!--END CONTENT BOX-->