	<ul class="tab-right">
		<li><a href="index.php?view=lop">Danh sách</a></li>
		<li><a href="index.php?view=lop&act=add">Thêm mới</a></li>
	</ul>
</div>
<!--END HEAD BOX--> 
<!--CONTENT BOX-->
<div class="contentbox">
	<h1>Cập nhật lớp</h1>
	<form action="{$action}" method="post" enctype="multipart/form-data" id="frm" class="update">
		<table width="100%" border="0" cellspacing="5" cellpadding="5">
			<tr>
				<td>Tên lớp *</td>
				<td><input type="text" name="txttieude" class="validate[required]" 
                    {if isset($detail)} 
                    value="{$detail.lop_tieude}" 
                    {/if} ></td>
			</tr>
			
			<tr>
				<td>Khối</td>
				<td>
					{$danhsach=$lib->selectall("SELECT * FROM tbkhoi",false)}
					<select name="lstkhoi">
					{foreach $danhsach as $item}
						<option value="{$item.khoi_id}" {if isset($detail) && $detail.khoi_id==$item.khoi_id}selected{/if}>{$item.khoi_tieude}</option>
					{/foreach}
					</select>
				</td>
			</tr>
			
			<tr>
				<td>Trường</td>
				<td>
					{$danhsach=$lib->selectall("SELECT * FROM tbtruong",false)}
					<select name="lsttruong">
					{foreach $danhsach as $item}
						<option value="{$item.truong_id}" {if isset($detail) && $detail.truong_id==$item.truong_id}selected{/if}>{$item.truong_tieude}</option>
					{/foreach}	
					</select>
				</td>
			</tr>
			
			<tr>
				<td>Trạng thái</td>
				<td><label>
						<input name="rdtrangthai" type="radio" id="rdtrangthai_0" value="1" {if isset($detail) && $detail.lop_trangthai==1} checked{else} checked {/if}>
						Hoạt động </label>
					<label>
						<input type="radio" name="rdtrangthai" value="0" id="rdtrangthai_1" {if isset($detail) && $detail.lop_trangthai==0} checked {/if}>
						Khóa </label></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" name="btnup" id="btnup" value="Cập nhật"></td>
			</tr>
		</table>
	</form>
</div>
<!--END CONTENT BOX-->