	
	.linhnguyen-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.8);
		z-index: 100;
		display: none;
		top: 0;
		left: 0; 
		}	
	.linhnguyen-modal {
		visibility: hidden;
		text-align:center;
		top: 100px; 
		left: 50%;
		margin-left: -300px;
		width: 520px;
		background: #eee url(modal-gloss.png) no-repeat -200px -80px;
		position: absolute;
		z-index: 101;
		padding: 30px 40px 34px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
		
	.linhnguyen-modal.small 		{ width: 200px; margin-left: -140px;}
	.linhnguyen-modal.medium 		{ width: 400px; margin-left: -240px;}
	.linhnguyen-modal.large 		{ width: 600px; margin-left: -340px;}
	.linhnguyen-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	/*
	.linhnguyen-modal .close-linhnguyen-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
	} 
	*/
	.big-link { display:block; margin-top: 100px; text-align: center; font-size: 70px; color: #06f; }
	
	.linhnguyen-modal .popup-content a{
		color: #fff;
		background-color:#0063AF;
		border-color: #285e8e;
		border: 1px solid transparent;
		text-decoration: none;
		padding: 7px 14px;
		font-weight: 400;
		cursor: pointer;
		border-radius: 4px;
		margin-right:10px;
	}
	.linhnguyen-modal .popup-content a:hover{background-color: #3071a9;}