@charset "utf-8";
/* CSS Document */
body{font-family:Arial, Helvetica, sans-serif; font-size:14px; margin:0; background:#E5E5E5;}
/* Header */
.header{float:left; width:100%;}
.header_top{width:100%; height:7px; float:left; border-bottom:#c1c1c1 1px solid; background:#f2f2f2}
.header_bottom{width:100%; float:left; border-top:#e2e2e2 1px solid; border-bottom:#2b82c3 15px solid; background:#fff;}
.header_bottom img{height:60px; padding:20px;}
/* End Header */

/* Content */
.content{width:100%; float:left; position:relative; background-color:#EEF5FF; min-height:320px;}
.content_right{width:250px; margin:0 auto;}
.content_right h1{
	text-transform:uppercase; 
	color:#0063af; 
	font-size:24px; 
	margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
	text-align:center;
}
.content_right form{padding:9px;}
.content_right form input[type=text], .content_right form input[type=password]{
	background-repeat: no-repeat;
    background-size: auto 30px;
    background-position: 12px;
	border-radius: 3px;
	padding: 6px 12px;
	padding-left:50px;
	height:30px;
    color: #555;
	border: 1px solid #ccc;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	margin-bottom:20px;
}
.content_right form input[type=text]{
	background-image: url("../images/acc.png");
}
.content_right form input[type=password]{
	background-image: url("../images/pass.png");
}
.content_right form label{width:100%; float:left;}

.content_right form input[type=submit]{
    color: #fff;
	background-color:#0063AF;
    border-color: #285e8e;
    border: 1px solid transparent;
	text-decoration: none;
	padding: 7px 14px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 4px;
	width:100%; 
	float:left;
	margin-top:10px;
	margin-bottom:10px;
}
.content_right form input[type=submit]:hover{background-color: #3071a9;}
.content_right form p{margin:0; }
.content_right form a{text-decoration:none; color:#428bca}
.content_right form a:hover{color:#0063AF; text-decoration:underline;}
/* End Content */

/* Footer */
.footer{width:100%; float:left; background:#e5e5e5}
.footer_menu{width:100%; text-align:center; padding-top:20px; font-size:13px}
.footer_menu a{color:#0042c5; text-decoration:none; font-weight:bold;}
.footer_menu a:hover{color:#DA271F;}
/* End Footer */