@charset "utf-8";
/* CSS Document */
body{font-family:Arial, Helvetica, sans-serif; font-size:12px; width: 1200px; margin: 0 auto;}

/* Header */
.header{float:left; width:100%;}
.header-top{float:left; width:100%; margin-bottom:10px;}
.header-top .header-logo{float:left; width:15%;}
.header-top .header-logo img{height:60px;}
.header-top .header-info{float:left; width:85%; text-align:right;}
.header-top .header-info p{margin:0; padding-bottom:5px;}

.header-menu{float:left; width:100%; border:#ccc 1px solid; background:#EDF1F9;}
.header-menu ul{margin:0; padding:0; float:left; z-index:99;}
.header-menu ul li{list-style:none; float:left; position:relative;}
.header-menu ul li a{text-decoration:none; padding:7px 15px; font-weight:bold; color:#065A9E; float:left;}
.header-menu ul li a:hover{color:#DD362F}
.header-menu ul li.active>a{color:#DD362F;}
.header-menu ul ul{display:none; position:absolute; width:220px; top:28px; left:-1px; background:#CFD9F1; border:#ccc 1px solid;}
.header-menu ul ul li{width:100%; float:left; border-bottom:#fff 1px solid;}
.header-menu ul ul li:last-child{border-bottom:none;}
.header-menu ul ul ul{top:-1px; left:220px;}
.header-menu ul li:hover>ul{display:block;}
/* End Header */


/* Content */
.content{float:left; width:100%;}
.content input[type=submit], input[type=buttom]{
	background:-webkit-gradient(linear,left top,left bottom,from(#FFF),to(#E5E5E5));
	background:-moz-linear-gradient(top,#FFF,#E5E5E5);/*Fix FF*/
	background:-o-linear-gradient(top,#FFF,#E5E5E5);/*Fix Opera*/
	background:-ms-linear-gradient(top,#FFF,#E5E5E5);/*Fix IE*/
	border:#ccc 1px solid;
	border-radius:5px;
	padding:5px 10px;
	margin-right:5px;
	font-weight:bold;
}
.content input[type=submit]:hover, input[type=buttom]:hover{
	cursor:pointer;
	box-shadow:1px -1px 3px #000;
}
.content form input[type=text], .content form select, .content form input[type=password]{
	height:23px;
	border-radius:5px;
	border:#ccc 1px solid;
	background:-webkit-gradient(linear,left top,left bottom,from(#EFEFEF),to(#fff));
}
.content form[method=get] select{
	height:27px;
	width:80%;
}
.content .headbox{
	float:left;
	width:100%;
	height:40px;
	position:relative;
	/*
	background:-webkit-gradient(linear,left top,left bottom,from(#E5E5E5),to(#FFF));
	background:-moz-linear-gradient(top,#E5E5E5,#FFF);
	background:-o-linear-gradient(top,#E5E5E5,#FFF);
	background:-ms-linear-gradient(top,#E5E5E5,#FFF);
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border:#ccc 1px solid;
	*/
	border-bottom:#ccc 1px solid;
	color:#000;
}

.content .headbox .tab-left{padding:0; margin:0; position:absolute; left:20px;bottom:0;}
.content .headbox .tab-left li{
	float:left; 
	list-style:none; 
	margin-right:5px;
	border:#ccc 1px solid;
	border-bottom:none;
	background-color:#F0F2F8;
	/*
	background:-webkit-gradient(linear,left top,left bottom,from(#FFF),to(#E5E5E5));
	background:-moz-linear-gradient(top,#FFF,#E5E5E5);
	background:-o-linear-gradient(top,#FFF,#E5E5E5);
	background:-ms-linear-gradient(top,#FFF,#E5E5E5);
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	box-shadow:1px -1px 3px #000
	*/
}
.content .headbox .tab-left li.active{background:#fff;}
.content .headbox .tab-left li a{float:left;padding:7px 15px; color:#000; text-decoration:none; font-weight:bold}


.content .headbox .tab-right{padding:0; margin:0; position:absolute; right:20px;bottom:0;}
.content .headbox .tab-right li{
	float:left; 
	list-style:none; 
	margin-left:5px;
	background:-webkit-gradient(linear,left top,left bottom,from(#FFF),to(#E5E5E5));
	background:-moz-linear-gradient(top,#FFF,#E5E5E5);/*Fix FF*/
	background:-o-linear-gradient(top,#FFF,#E5E5E5);/*Fix Opera*/
	background:-ms-linear-gradient(top,#FFF,#E5E5E5);/*Fix IE*/
	border:#ccc 1px solid;
	border-bottom:none;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	box-shadow:1px -1px 3px #000;
}
.content .headbox .tab-right li a{float:left;padding:7px 15px; color:#000; text-decoration:none; font-weight:bold}

.content .headbox h3{padding-left:10px;}
.contentbox{
	width:100%; 
	float:left;
	background:#fff; 
	color:#000;
	border-top:0;
	/*
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border:#ccc 1px solid; 
	*/
}
.contentbox input[type=text], .contentbox input[type=password]{width:80%;}
.csslist{border:#ccc 1px solid; border-collapse:collapse}
.csslist th{border:#ccc 1px solid; 
background:-webkit-gradient(linear,left top,left bottom,from(#FFF),to(#E5E5E5));
background:-moz-linear-gradient(top,#FFF,#E5E5E5);/*Fix FF*/
background:-o-linear-gradient(top,#FFF,#E5E5E5);/*Fix Opera*/
background:-ms-linear-gradient(top,#FFF,#E5E5E5);/*Fix IE*/
}
.csslist tr:hover{background:#EDF1F9}
.csslist td{border:#ccc 1px solid; }
.csslist td img{margin-right:5px;}

.pages{float:left;width:100%; padding:10px 0; text-align:center}
.pages a{border:#ccc 1px solid;padding:2px 5px;font-weight:bold; color:#333; text-decoration:none}
.pages a.active{color:#fff; background:#005AA3;}
.pages a:hover{color:#f00;}
.pages a.active:hover{background:#EDF1F9;}

.update table{background:#EDF1F9; border-radius:10px;}
.update table tr td:first-child{font-weight:bold; width:250px}
.update table tr td{border-bottom:#fff 1px solid; padding-top:0;}
.update table tr:last-child td{border-bottom:none;}
.update input[type=text], .update input[type=password], .update select{
	height:25px;
	border-radius:5px;
	border:#ccc 1px solid;
	background:-webkit-gradient(linear,left top,left bottom,from(#EFEFEF),to(#fff));
}
.update select{
	width:300px;	
}
.update textarea{
	border-radius:5px;
	border:#ccc 1px solid;
	background:-webkit-gradient(linear,left top,left bottom,from(#EFEFEF),to(#fff));
}

.update ul{margin:0; padding:0;}
.update ul li{list-style:none; margin-bottom:5px;}
.update ul ul{margin-left:30px;margin-top:5px;}
.update ul ul li{margin-bottom:0px;}
.update .multi-select{width:80%;}
.update p{margin:5px 0;}

.content a{color:#00f; text-decoration:none;}
.content a:hover{color:#f00;}

.content .search{margin-bottom:20px;}
.content .search tr td:first-child{width:150px}
.center input[type=text], .center input[type=password], .center select {
    width: 30% !important;
}
.content .error-msg{color:#f00;}

/* POPUP */
.bongden{position:fixed; background:#fff; top:0; bottom:0; left:0; right:0; text-align:center;padding-top:150px;}
.bongden a{text-decoration:none; font-weight:bold; padding:7px 15px; background:#00579C; color:#fff;
 border-radius:3px; margin-right:30px;}
 .bongden a:hover{color:#ccc;}
.bongden .buttom{margin-top:30px;}

/* 
.bongden{position:fixed; background:rgba(0,0,0,0.5); top:0; bottom:0; left:0; right:0; text-align:center;padding-top:150px;}
.bongden *{color:#FFF;}
.bongden a{text-decoration:none; font-weight:bold; padding:7px 15px; background:#fff; color:#000;
 border-radius:3px; margin-right:30px;}
 .bongden a:hover{color:#f00;}
.bongden .buttom{margin-top:30px;}
*/


.header-top .header-info a.count{ 
	color: #fff;
	background-color:#0063AF;
    border-color: #285e8e;
    border: 1px solid transparent;
	text-decoration: none;
	padding: 3px 7px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 10px;
}
	
.header-top .header-info a.count:hover{background-color: #3071a9;}

/* SEARCH FORM */
.searchform table{background:#EDF1F9; border-radius:10px;}
.searchform table tr td:first-child{font-weight:bold; width:150px}
.searchform table tr td{border-bottom:#fff 1px solid; padding-top:0;}
.searchform table tfoot tr:last-child td{border-bottom:none;}
.searchform input[type=text], .searchform input[type=password], .searchform select{
	height:25px;
	border-radius:5px;
	border:#ccc 1px solid;
	background:-webkit-gradient(linear,left top,left bottom,from(#EFEFEF),to(#fff));
}
.searchform select{
	width:300px;	
}
.searchform textarea{
	border-radius:5px;
	border:#ccc 1px solid;
	background:-webkit-gradient(linear,left top,left bottom,from(#EFEFEF),to(#fff));
}
.searchform p{margin:5px 0;}
/* End Content */

/* Footer */
.footer{float:left; width:100%; text-align:center; margin-top:10px; margin-bottom:10px; border-top:#ccc 1px solid;}
.footer p{margin:0; padding-top:5px; }
/* End Footer */



.kiemtra{width:100%; float:left; padding: 20px;}
.kiemtra ul{margin:0; padding:0; padding-left:20px;}
.kiemtra ul li{list-style:none;}

.kiemtra input[type=submit], .kiemtra a, .kiemtra .active{
    color: #fff;
	background-color:#0063AF;
    border-color: #285e8e;
    border: 1px solid transparent;
	text-decoration: none;
	padding: 7px 14px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 4px;
	margin-right:10px;
}
.kiemtra input[type=submit]:hover, .kiemtra a:hover{background-color: #3071a9;}
.kiemtra input[type=text], .kiemtra input[type=password], .kiemtra textarea, .kiemtra select{
	height:25px;
	border-radius:5px;
	border:#ccc 1px solid;
	background:-webkit-gradient(linear,left top,left bottom,from(#EFEFEF),to(#fff));
}

.kiemtra .dongho-cauhoi{
	width: 100%;
	/*min-height: 280px;*/
	float: left;
	border: #eee 1px solid;
}

.dongho-cauhoi .dongho{
	float: left;
	width: 200px;
	padding: 20px;
	border-right: #eee 1px solid;
}

.dongho-cauhoi .cauhoi{
	float: left;
	width: 900px;
	padding: 20px;
}

.cauhoi-bottom {
	float: left;
	width: 100%;
}

.cauhoi-noidung{
	width: 100%;
	float: left;
}

.cauhoi-chondapan{
	float:left;
	width: 200px;
	height: 80px;
	margin-top: 100px;
	border: #eee 1px solid;
}

.cauhoi-chondapan-noidung{
	padding-left: 20px;
}

.cauhoi-chondapan-noidung label{
	margin-right: 10px;
}

.cauhoi-cautieptheo{
	float: left;
	border: #eee 1px solid;
	width: 515px;
	min-height: 180px;
	margin-left: 20px;
}

.cauhoi-cautieptheo-noidung{
	padding-left: 20px;
}

.cauhoi-nut{
	height: 80px;
	width: 140px;
	margin-left: 20px;
	margin-top: 100px;
	float: left;
}

.cauhoi-nut input[type=submit]{
	width: 100%;
	height: 100%;
	font-size: 26px;
	font-weight: bold;
}







.kiemtra .thongtin-traloi{
	width: 100%;
	float: left;
	border: #eee 1px solid;
	border-top: 0;
}

.thongtin-traloi .thongtin{
	width: 200px;
	padding: 20px;
	float:left;
	border-right: #eee 1px solid;
}

.thongtin-traloi .traloi{
	width: 900px;
	padding: 20px;
	float:left;
}

.traloi-noidung a{
    color: #fff;
	background-color:#6BB826;
}

.traloi-noidung a:hover{background-color: #BAC332;}

.traloi-noidung .active{
	background-color: #513333 !important;
	cursor: inherit;
}

.traloi-noidung span, .traloi-noidung a{
	float:left;
	margin-bottom: 10px;
}