	<ul class="tab-right">
		<li><a href="index.php?view=mucdo">Danh sách</a></li>
		<li><a href="index.php?view=mucdo&act=add">Thêm mới</a></li>
	</ul>
</div>
<!--END HEAD BOX--> 

<!--CONTENT BOX-->
<div class="contentbox">
	<h1>Cập nhật mức độ câu hỏi</h1>
	<form action="{$action}" method="post" enctype="multipart/form-data" id="frm" class="update">
		<table width="100%" border="0" cellspacing="5" cellpadding="5">
			<tr>
				<td>Tên mức độ *</td>
				<td><input type="text" name="txttieude" class="validate[required]" 
                    {if isset($detail)} 
                    value="{$detail.mucdo_tieude}" 
                    {/if} ></td>
			</tr>
			<tr>
				<td>Điểm cộng *</td>
				<td><input type="text" name="txtdiem" class="validate[required,custom[onlyNumberSp]]" 
                    {if isset($detail)} 
                    value="{$detail.mucdo_diem}" 
                    {/if} ></td>
			</tr>
			<tr>
				<td>Trạng thái</td>
				<td><label>
						<input name="rdtrangthai" type="radio" id="rdtrangthai_0" value="1" {if isset($detail) && $detail.mucdo_trangthai==1} checked{else} checked {/if}>
						Hoạt động </label>
					<label>
						<input type="radio" name="rdtrangthai" value="0" id="rdtrangthai_1" {if isset($detail) && $detail.mucdo_trangthai==0} checked {/if}>
						Khóa </label></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" name="btnup" id="btnup" value="Cập nhật"></td>
			</tr>
		</table>
	</form>
</div>
<!--END CONTENT BOX-->