	<ul class="tab-right">
		<li><a href="index.php?view=danhmuc">Danh sách</a></li>
		<li><a href="index.php?view=danhmuc&act=add">Thêm mới</a></li>
	</ul>
</div>
<!--END HEAD BOX--> 
<!--CONTENT BOX-->
<div class="contentbox">
	<h1>Cập nhật Menu</h1>
	<form action="{$action}" method="post" enctype="multipart/form-data" id="frm" class="update">
		<table width="100%" border="0" cellspacing="5" cellpadding="5">
			<tr>
				<td>Tiêu đề *</td>
				<td><input type="text" name="txttieude" class="validate[required]" 
                    {if isset($detail)} 
                    value="{$detail.danhmuc_tieude}" 
                    {/if} ></td>
			</tr>
			
			<tr>
				<td>Kiểu menu</td>
				<td>
					<select name="lstnhomdanhmuc">
						{$danhsach=$lib->selectall("SELECT * FROM tbnhomdanhmuc WHERE nhomdanhmuc_trangthai > 0",false)}
						{foreach $danhsach as $item}
						<option value="{$item.nhomdanhmuc_id}" {if isset($detail) && $detail.nhomdanhmuc_id==$item.nhomdanhmuc_id}selected{/if}>{$item.nhomdanhmuc_tieude}</option>
						{/foreach}
					</select>
				</td>
			</tr>
			
			<tr>
				<td>Menu cha</td>
				<td>
					<select name="lstparent">
						<option value="0" {if isset($detail) && $detail.danhmuc_parent==0}selected{/if}>Không</option>
						{if isset($detail)}
							{$lib->loadmenu_combobox(0,$detail.danhmuc_parent)}
						{else}
							{$lib->loadmenu_combobox()}
						{/if}
					</select>
				</td>
			</tr>
			
			
			<tr>
				<td>Vị trí hiển thị</td>
				<td>
					{$danhsach=$lib->selectall("SELECT * FROM tbvitri WHERE vitri_trangthai=1",false)}
					{foreach $danhsach as $item}
						<input type="checkbox" name="vitri[]" value="{$item.vitri_id}"
						{if isset($detail) && $lib->rowCount("SELECT * FROM tbdanhmuc_vitri WHERE danhmuc_id={$detail.danhmuc_id} AND vitri_id={$item.vitri_id}")>0}
							checked
						{/if}>{$item.vitri_tieude}<br>
					{/foreach}
				</td>
			</tr>
			
			<tr>
				<td>Thứ tự hiển thị</td>
				<td><input type="text" name="txtthutu"
                    {if isset($detail)} 
                    value="{$detail.danhmuc_thutu}" 
                    {/if} ></td>
			</tr>
			
			<tr>
				<td>Trạng thái</td>
				<td><label>
						<input name="rdtrangthai" type="radio" id="rdtrangthai_0" value="1" {if isset($detail) && $detail.danhmuc_trangthai==1} checked{else} checked {/if}>
						Hoạt động </label>
					<label>
						<input type="radio" name="rdtrangthai" value="0" id="rdtrangthai_1" {if isset($detail) && $detail.danhmuc_trangthai==0} checked {/if}>
						Khóa </label></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" name="btnup" id="btnup" value="Cập nhật"></td>
			</tr>
		</table>
	</form>
</div>
<!--END CONTENT BOX-->