	<ul class="tab-right">
		<li><a href="index.php?view=khoi">Danh sách</a></li>
		<li><a href="index.php?view=khoi&act=add">Thêm mới</a></li>
	</ul>
</div>
<!--END HEAD BOX--> 
<!--CONTENT BOX-->
<div class="contentbox">
	<h1>Danh sách khối</h1>
	<form method="get" action="index.php" class="searchform">
		<input type="hidden" name="view" value="khoi">
		<table width="100%" border="0" cellspacing="5" cellpadding="5" style="margin-bottom:20px;">
			<thead>
				<tr>
					<td>Tên khối</td>
					<td>
						<input type="text" name="txtkey" {if isset($txtkey)} value="{$txtkey}" {/if}>
					</td>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td></td>
					<td><input type="submit" name="btnsearch" value="Tìm kiếm"></td>
				</tr>
			</tfoot>
		</table>
	</form>
	<form action="index.php?view=khoi&act=del" method="post">
		<table width="100%" border="1" cellspacing="5" cellpadding="5" class="csslist">
			<tr>
				<th scope="col">ID</th>
				<th scope="col"><input type="checkbox" id="cball" /></th>
				<th scope="col">Tên khối</th>
				<th scope="col">Trạng thái</th>
				<th scope="col">Thao tác</th>
			</tr>
			{foreach $danhsach as $item}
			<tr>
				<td align="center">{$item.khoi_id}</td>
				<td align="center"><input type="checkbox" name="cbitem[]" value="{$item.khoi_id}" /></td>
				<td><a href="index.php?view=khoi&act=edit&id={$item.khoi_id}">{$item.khoi_tieude}</a></td>
				<td align="center"> {if $item.khoi_trangthai==1} <img src="../templates/admin/images/yes.png" title="Hoạt động" /> {else} <img src="../templates/admin/images/no.png" title="Khóa" /> {/if} </td>
				<td align="center"><a href="index.php?view=khoi&act=edit&id={$item.khoi_id}"><img src="../templates/admin/images/edit.png" title="Sửa" /></a> <a href="index.php?view=khoi&act=del&id={$item.khoi_id}" onclick="return confirm('Bạn có chắc muốn xóa?')" ><img src="../templates/admin/images/del.png" title="Xóa" /></a></td>
			</tr>
			{/foreach}
		</table>
		<div class="pages">{$lib->viewpage($link)}</div>
		<input type="submit" value="Xóa mục chọn" name="btndel" onClick="return confirm('Bạn có chắc muốn xóa?')">
		<input type="submit" value="Xóa tất cả" name="btndelall" onClick="return confirm('Bạn có chắc muốn xóa tất cả?')">
	</form>
</div>
<!--END CONTENT BOX--> 