	<ul class="tab-right">
		{if in_array('tohop_xem',$login.quyen)}<li><a href="index.php?view=tohop">Danh sách</a></li>{/if}
		{if in_array('tohop_them',$login.quyen)}<li><a href="index.php?view=tohop&act=add">Thêm mới</a></li>{/if}
	</ul>
</div>
<!--END HEAD BOX--> 
<!--CONTENT BOX-->
<div class="contentbox">
	{if in_array('tohop_xem',$login.quyen)}
	
	<h1>Danh sách tổ hợp</h1>
	{if in_array('tohop_tim',$login.quyen)}
	<form method="get" action="index.php" class="searchform">
		<input type="hidden" name="view" value="tohop">
		<table width="100%" border="0" cellspacing="5" cellpadding="5" style="margin-bottom:20px;">
			<thead>
				<tr>
					<td>Tên tổ hợp</td>
					<td>
						<input type="text" name="txtkey" {if isset($txtkey)} value="{$txtkey}" {/if}>
					</td>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td></td>
					<td><input type="submit" name="btnsearch" value="Tìm kiếm"></td>
				</tr>
			</tfoot>
		</table>
	</form>
	{/if}
	
	<form action="index.php?view=tohop&act=del" method="post">
		<table width="100%" border="1" cellspacing="5" cellpadding="5" class="csslist">
			<tr>
				<th scope="col">ID</th>
				{if in_array('tohop_xoa',$login.quyen)}
				<th scope="col"><input type="checkbox" id="cball" /></th>
				{/if}
				<th scope="col">Tên tổ hợp</th>
				<th scope="col">Mô tả</th>
				<th scope="col">Trạng thái</th>
				{if in_array('tohop_sua',$login.quyen) || in_array('tohop_xoa',$login.quyen)}
				<th scope="col">Thao tác</th>
				{/if}
			</tr>
			{foreach $danhsach as $item}
			<tr>
				<td align="center">{$item.tohop_id}</td>
				{if in_array('tohop_xoa',$login.quyen)}
				<td align="center"><input type="checkbox" name="cbitem[]" value="{$item.tohop_id}" /></td>
				{/if}
				<td>
					<a href="index.php?view=tohop&act=edit&id={$item.tohop_id}">{$item.tohop_tieude}</a>
				</td>
				<td>{$lib->subtitle($item.tohop_mota,250)}</td>
				<td align="center"> {if $item.tohop_trangthai==1} <img src="../templates/admin/images/yes.png" title="Hoạt động" /> {else} <img src="../templates/admin/images/no.png" title="Khóa" /> {/if} </td>
				
				{if in_array('tohop_sua',$login.quyen) || in_array('tohop_xoa',$login.quyen)}
					<td align="center">
					{if in_array('tohop_sua',$login.quyen)}
						<a href="index.php?view=tohop&act=edit&id={$item.tohop_id}"><img src="../templates/admin/images/edit.png" title="Sửa" /></a>
					{/if}
					
					{if in_array('tohop_xoa',$login.quyen)}
						<a href="index.php?view=tohop&act=del&id={$item.tohop_id}" onclick="return confirm('Bạn có chắc muốn xóa?')" ><img src="../templates/admin/images/del.png" title="Xóa" /></a>
					{/if}
					</td>
				{/if}
			</tr>
			{/foreach}
		</table>
		<div class="pages">{$lib->viewpage($link)}</div>
		
		{if in_array('tohop_xoa',$login.quyen)}
		<input type="submit" value="Xóa mục chọn" name="btndel" onClick="return confirm('Bạn có chắc muốn xóa?')">
		<input type="submit" value="Xóa tất cả" name="btndelall" onClick="return confirm('Bạn có chắc muốn xóa tất cả?')">
		{/if}
	</form>
	{else}
		<h1>Bạn không có quyền xem danh sách tổ hợp</h1>
	{/if}
</div>
<!--END CONTENT BOX--> 