	{include file="includes/nav.html"}
	
	<div class="content">
		<!--CONTENT BOX-->
		<div class="contentbox">
			<h1>Danh sách bài kiểm tra</h1>
            
			<p><a href="javascript:void(0)" onclick="hienan('timnangcao')">Tìm kiếm nâng cao (Bấm vào để Hiện / Ẩn)</a></p>
			<script>
				function hienan(obj) {
					var el = document.getElementById(obj);
					if ( el.style.display != 'none' ) {
						el.style.display = 'none';
						$('#show').val(0);
					}
					else {
						el.style.display = '';
						$('#show').val(1);
					}
				}
			</script>
			<form method="get" action="index.php" class="searchform">
				<input type="hidden" name="view" value="baikiemtra">
				<input type="hidden" name="show" id="show" value="{if isset($show) && $show==1}1{else}0{/if}">
				<table width="100%" border="0" cellspacing="5" cellpadding="5" style="margin-bottom:20px;">
					<thead>
						<tr>
							<td>Tên bài kiểm tra</td>
							<td>
								<input type="text" name="txtkey" {if isset($txtkey)} value="{$txtkey}" {/if}>
							</td>
						</tr>
					</thead>
					
					<tbody {if isset($show) && $show==1}{else}style="display:none"{/if} id="timnangcao">
						<tr>
							<td>Khoảng thời gian<br>[ngày]/[tháng]/[năm] [giờ]:[phút]</td>
							<td>
								<input type="text" value="{if isset($txtbatdau) && !empty($txtbatdau)}{$txtbatdau|date_format:"%d/%m/%Y %H:%M"}{/if}" name="txtbatdau" style="width:308px" placeholder="Thời gian bắt đầu" class="datetimepicker">
								<input type="text" value="{if isset($txtketthuc) && !empty($txtketthuc)}{$txtketthuc|date_format:"%d/%m/%Y %H:%M"}{/if}" name="txtketthuc" style="width:308px" " placeholder="Thời gian kết thúc" class="datetimepicker"> 
							</td>
						</tr>
						
						<!--
                        <tr>
							<td>Tổ hợp</td>
							<td>
							<select name="lsttohop">
								<option value="">Tất cả tổ hợp</option>
								{$ds=$lib->selectall("SELECT * FROM tbtohop WHERE tohop_trangthai=1",false)}
								{foreach $ds as $item}
								<option value="{$item.tohop_id}" {if isset($lsttohop) && $lsttohop==$item.tohop_id}selected{/if}>{$item.tohop_tieude}</option>
								{/foreach}
							</select>
							</td>
						</tr>
						
						<tr>
							<td>Trường</td>
							<td>
							<select name="lsttruong">
								<option value="">Tất cả trường</option>
								{$ds=$lib->selectall("SELECT * FROM tbtruong WHERE truong_trangthai=1",false)}
								{foreach $ds as $item}
								<option value="{$item.truong_id}" {if isset($lsttruong) && $lsttruong==$item.truong_id}selected{/if}>{$item.truong_tieude}</option>
								{/foreach}
							</select>
							</td>
						</tr>
						
						<tr>
							<td>Khối</td>
							<td>
							<select name="lstkhoi">
								<option value="">Tất cả trường</option>
								{$ds=$lib->selectall("SELECT * FROM tbkhoi WHERE khoi_trangthai=1",false)}
								{foreach $ds as $item}
								<option value="{$item.khoi_id}" {if isset($lstkhoi) && $lstkhoi==$item.khoi_id}selected{/if}>{$item.khoi_tieude}</option>
								{/foreach}
							</select>
							</td>
						</tr>
						
						<tr>
							<td>Lớp</td>
							<td>
							<select name="lstlop">
								<option value="">Tất cả lớp</option>
								{$ds=$lib->selectall("SELECT * FROM tblop WHERE lop_trangthai=1",false)}
								{foreach $ds as $item}
								<option value="{$item.lop_id}" {if isset($lstlop) && $lstlop==$item.lop_id}selected{/if}>{$item.lop_tieude}</option>
								{/foreach}
							</select>
							</td>
						</tr>
						-->
					</tbody>
					<tfoot>
						<tr>
							<td></td>
							<td><input type="submit" name="btnsearch" value="Tìm kiếm"></td>
						</tr>
					</tfoot>
				</table>
			</form>
			
			{if !empty($dinhky)}
			<table width="100%" border="1" cellspacing="5" cellpadding="5" class="csslist">
				<tr>
					<th scope="col">Tên bài kiểm tra</th>
					<th scope="col">Phòng thi</th>
					<th scope="col">Thời gian làm bài</th>
					<th scope="col">Thời gian bắt đầu</th>
					<th scope="col">Thời gian kết thúc</th>
					<!--<th scope="col">Trạng thái</th>-->
				</tr>
				{foreach $dinhky as $item}
				<tr>
					<td><a href="index.php?pg=chitietbaikiemtra&id={$item.kiemtra_id}">{$item.kiemtra_tieude} (Click để xem chi tiết)</a></td>
					<td>
						{$phongthi=$lib->selectone("SELECT * FROM tbphongthi WHERE phongthi_id={$login.phongthi_id}")}
						{$phongthi.phongthi_tieude}
					</td>
					<td>{$item.kiemtra_thoigian|date_format:"%Hh:%M':%S''"}</td>
					<td>{if $item.kiemtra_laphangngay==1}Lặp hàng ngày - {/if}Từ {$item.kiemtra_batdau|date_format:"%Hh:%M' ngày %d/%m/%Y"}</td>
					<td>Đến {$item.kiemtra_ketthuc|date_format:"%Hh:%M' ngày %d/%m/%Y"}</td>
					<!--
					<td>
						{if in_array($item.kiemtra_id, $chuathi)}
							Chưa thi
						{elseif in_array($item.kiemtra_id, $dathi)}
							Đã thi
						{elseif in_array($item.kiemtra_id, $quahan)}
							Quá hạn
						{/if}
						
						{if in_array($item.kiemtra_id, $thulai)}
							(được phép thi lại)
						{/if}
					</td>
					-->
				</tr>
				{/foreach}
			</table>
			<div class="pages">{$lib->viewpage($link)}</div>
			{else}
				<p>Hiện tại không có kết quả nào phù hợp với yêu cầu tìm kiếm của bạn.</p>
			{/if}
			









						
			<!--
			<h1>Bài kiểm tra theo yêu cầu</h1>
			{if !empty($yeucau)}
			<table width="100%" border="1" cellspacing="5" cellpadding="5" class="csslist">
				<tr>
					<th scope="col">Tên bài kiểm tra</th>
					<th scope="col">Tổ hợp</th>
					<th scope="col">Thời gian làm bài</th>
					<th scope="col">Thời gian bắt đầu</th>
					<th scope="col">Thời gian kết thúc</th>
					<th scope="col">Trạng thái</th>
				</tr>
				{foreach $yeucau as $item}
				<tr>
					<td><a href="index.php?pg=chitietbaikiemtra&id={$item.kiemtra_id}">{$item.kiemtra_tieude} (Click để xem chi tiết)</a></td>
					<td>
					{if !empty($item.phongthi_id)}
						{$phongthi=$lib->selectone("SELECT * FROM tbphongthi WHERE phongthi_id={$item.phongthi_id}")}
						{$phongthi.phongthi_tieude}
					{else}
						Tất cả tổ hợp
					{/if}
					</td>
					<td>{$item.kiemtra_thoigian|date_format:"%Hh:%M':%S''"}</td>
					<td>Từ {$item.kiemtra_batdau|date_format:"%Hh:%M' ngày %d/%m/%Y"}</td>
					<td>Đến {$item.kiemtra_ketthuc|date_format:"%Hh:%M' ngày %d/%m/%Y"}</td>
					<td>
						{if in_array($item.kiemtra_id, $chuathi)}
							Chưa thi
						{elseif in_array($item.kiemtra_id, $dathi)}
							Đã thi
						{else}
							Quá hạn
						{/if}
						
						{if in_array($item.kiemtra_id, $thulai)}
							(được phép thử lại)
						{/if}
					</td>
				</tr>
				{/foreach}
			</table>
			{else}
				<p>Hiện tại bạn không có bài kiểm tra theo yêu cầu nào.</p>
			{/if}
			-->
		</div>
		<!--END CONTENT BOX-->		
	</div>
	
	{if count($chuathi)>0}
		<link rel="stylesheet" href="templates/user/css/linhnguyen.css">
		<div id="myModal" class="linhnguyen-modal">
			<div class="popup-content">
				<p>Xin chào {$login.taikhoan_hoten}! Bạn có {count($chuathi)} bài thi phải hoàn thiện trước {$chuathi1.kiemtra_ketthuc|date_format:"%Hh:%M' ngày %d/%m/%Y"}.</p>
				<p>Vui lòng lựa chọn nút <span style="color:#00f">[Hoàn thiện]</span> để thực hiện bài thi đúng hạn.</p>
				<p>Trân trọng cảm ơn!</p>
				<br>
				<p>
					<a href="index.php?pg=chitietbaikiemtra&id={$chuathi1.kiemtra_id}">Hoàn thiện</a>
					<a class="close-linhnguyen-modal">Bỏ qua</a>
				</p>
			</div>
			<!--<a class="close-linhnguyen-modal">X</a>-->
		</div>
		<script type="text/javascript" src="templates/user/js/jquery.popup.js"></script>	
		<script type="text/javascript" >
			$(window).load(function() {
			  $('#myModal').linhnguyen($('#myModal').data());
			});
		</script>
	{/if}
	
	
	<script>
		function hienan(obj) {
			var el = document.getElementById(obj);
			if ( el.style.display != 'none' ) {
				el.style.display = 'none';
				$('#show').val(0);
			}
			else {
				el.style.display = '';
				$('#show').val(1);
			}
		}
	</script>