<div class="kiemtra">
	<h2>THÔNG TIN KỲ THI</h2>
	<p><strong>Kỳ thi: </strong>{$caidat.kythi}</p>
	<p><strong>Ngày thi: </strong>{$smarty.now|date_format:"%d/%m/%Y"}</p>

	<!--<p><strong>Tên bài thi:</strong> {$detail.kiemtra_tieude}</p>-->

	<!--
	<p><strong>Chủ đề:</strong> 
	{if !empty($detail.chude_id)}
		{$chude=$lib->selectone("SELECT * FROM tbchude WHERE chude_id={$detail.chude_id}")}
		{$chude.chude_tieude}
	{else}
		Tất cả chủ đề
	{/if}
	</p>
	-->

	<p><strong>Thời gian làm bài thi:</strong> {$detail.kiemtra_thoigian|date_format:"%Hh:%M':%S''"}</p>
	<p><strong>Thời hạn:</strong> {if $detail.kiemtra_laphangngay==1}Lặp hàng ngày - {/if}Từ {$detail.kiemtra_batdau|date_format:"%Hh:%M' ngày %d/%m/%Y"} đến {$detail.kiemtra_ketthuc|date_format:"%Hh:%M' ngày %d/%m/%Y"}</p>
	<p><strong>Đã thử lại: </strong> {$detail.kiemtra_thulai-$thulai} / {$detail.kiemtra_thulai} lần {if $detail.kiemtra_laphangngay==1}(Trong ngày {$smarty.now|date_format:"%d/%m/%Y"}){/if}</p>
	{if !empty($detail.kiemtra_mota)}
    	<p><strong>Hướng dẫn thi:</strong></p>
        {$detail.kiemtra_mota}
    {/if}

	<hr>
	<h2>THÔNG TIN THÍ SINH</h2>
	<p><strong>Họ và tên: </strong>{$login.taikhoan_hoten}</p>
	<p><strong>Số báo danh: </strong>{$login.taikhoan_sobaodanh}</p>
	<p><strong>Ngày sinh: </strong>{$login.taikhoan_ngaysinh|date_format:"%d/%m/%Y"}</p>
	{$phongthi = $lib->selectone("SELECT * FROM tbphongthi WHERE phongthi_id = {$login.phongthi_id}")}
	<p><strong>Phòng thi: </strong>{$phongthi.phongthi_tieude}</p>

	<form method="get" action="">
	<!--
	{if $thulai > 0}
	<p>
		<strong>Chọn các trình bày câu hỏi: </strong> 
		<select name="lstkieuhienthi">
			<option value="">Tất cả câu hỏi</option>
			<option value="1">Từng câu một</option>
			{for $i=2;$i<=20; $i++}
				<option value="{$i}" >{$i} câu một</option>
			{/for}
		</select>
	</p>
	{/if}
	-->
	<br>
	<p>
		{if $checkquahan==false && $thulai > 0}
			<input type="hidden" name="pg" value="kiemtra">
			<input type="hidden" name="id" value="{$detail.kiemtra_id}">
			<input type="submit" name="btnup" value="Bắt đầu làm bài thi">
		{else}
			<a href="index.php?pg=ketquakiemtra&kiemtra_id={$detail.kiemtra_id}&ketquakiemtra_id={$ketquakiemtra.ketquakiemtra_id}">Xem kết quả bài thi</a>
		{/if}
		<a href="index.php?pg=baikiemtra">Quay lại trang làm bài thi</a>
	</p>
	</form>
</div>