<!--
<div class="header">
	<div class="header-top">
		<div class="header-logo">
			<a href="index.php"><img src="templates/user/images/logo.png" alt="logo mobifone"></a>
		</div>
		<div class="header-info">
			
		</div>
	</div>
	
	<div class="header-menu">
		<ul>
			<li><a href="dang-nhap.html">Đăng nhập</a></li>
		</ul>
	</div>
</div>
<!--END HEAD BOX-->
 
<div class="content">
<!--CONTENT BOX-->
<div class="contentbox center">
	<h1>Đăng nhập</h1>	
	<form method="post" action="">
		<table width="100%" border="0" cellspacing="5" cellpadding="5" style="margin-bottom:20px;">
			{if isset($alert)}
			<tr>
				<td style="font-weight:bold; color:#f00;" colspan="2">{$alert}</td>
			</tr>
			{/if}
			
			<tr>
				<td>Tên đăng nhập *</td>
				<td>
					<input type="text" name="txtuser" value="" placeholder="Tên đăng nhập">
				</td>
			</tr>
			
			<tr>
				<td>Mật khẩu *</td>
				<td>
					<input type="password" name="txtpass" value="" placeholder="Mật khẩu">
				</td>
			</tr>
			
			<tr>
				<td></td>
				<td><label><input type="checkbox" name="cbrem">Ghi nhớ</label></td>
			</tr>
			
			<tr>
				<td></td>
				<td><input type="submit" name="btnlog" value="Đăng nhập"></td>
			</tr>
		</table>
	</form>
</div>
<!--END CONTENT BOX-->
</div>