<div class="header">
	<div class="header-top">
		<div class="header-logo">
			<a href="index.php"><img src="templates/user/images/logo.png" alt="logo mobifone"></a>
		</div>
		<div class="header-info">
			
		</div>
	</div>
	
	<div class="header-menu">
		<ul>
			<li><a href="dang-nhap.html">Đăng nhập</a></li>
			<li><a href="dang-ky-tai-khoan.html">Đăng ký</a></li>
		</ul>
	</div>
</div>
<!--END HEAD BOX-->
 
<div class="content">
<!--CONTENT BOX-->
<div class="contentbox center">
	<h1>Đăng ký tài khoản</h1>	
	<form method="post" action="">
		<table width="100%" border="0" cellspacing="5" cellpadding="5" style="margin-bottom:20px;">
			{if isset($alert) && $alert[0]==true}
			<tr>
				<td style="font-weight:bold;" colspan="2">{$alert[1]}</td>
			</tr>
			{else}
				{if isset($alert) && $alert[0]==false}
				<tr>
					<td style="font-weight:bold; color:#f00;" colspan="2">{$alert[1]}</td>
				</tr>
				{else}
				<tr>
					<td colspan="2">Bạn vui lòng nhập vào thông tin dưới đây.</td>
				</tr>
				{/if}
				
				<tr>
					<td>Tên đăng nhập *</td>
					<td>
						<input type="text" name="txtuser"  value="{if isset($post.txtuser)}{$post.txtuser}{/if}" required>
						{if isset($errors) && in_array('tendangnhap_rong',$errors)}
							<span class="error-msg">Nhập vào tên đăng nhập.</span>
						{elseif isset($errors) && in_array('tendangnhap_sai',$errors)}
							<span class="error-msg">Tên đăng nhập có độ dài tối thiểu 4 ký tự, tối đa 30 ký tự, chỉ gồm chữ cái (a-z), chữ số (0-9), dấu "_", không bao gồm dấu cách và ký tự đặc biệt khác</span>
						{elseif isset($errors) && in_array('tendangnhap_trung',$errors)}
							<span class="error-msg">Tên đăng nhập đã tồn tại.</span>
						{/if}
					</td>
				</tr>
				
				<tr>
					<td>Mật khẩu *</td>
					<td>
						<input type="password" name="txtpass" value="{if isset($post.txtpass)}{$post.txtpass}{/if}" required>
						{if isset($errors) && in_array('matkhau_rong',$errors)}
							<span class="error-msg">Nhập vào mật khẩu.</span>
						{elseif isset($errors) && in_array('matkhau_sai',$errors)}
							<span class="error-msg">Mật khẩu có độ dài tối thiểu 6 ký tự và tối đa 20 ký tự.</span>
						{elseif isset($errors) && in_array('matkhau_khac',$errors)}
							<span class="error-msg">Mật khẩu và nhập lại mật khẩu không giống nhau.</span>
						{/if}</td>
				</tr>
				
				<tr>
					<td>Nhập lại mật khẩu *</td>
					<td>
						<input type="password" name="txtrepass" value="{if isset($post.txtrepass)}{$post.txtrepass}{/if}" required>
						{if isset($errors) && in_array('nhaplaimk_rong',$errors)}
							<span class="error-msg">Nhập vào mục nhập lại nhật khẩu.</span>
						{elseif isset($errors) && in_array('nhaplaimk_sai',$errors)}
							<span class="error-msg">Mật khẩu có độ dài tối thiểu 6 ký tự và tối đa 20 ký tự.</span>
						{/if}
					</td>
				</tr>
				
				<tr>
					<td>Họ tên</td>
					<td><input type="text" name="txthoten" value="{if isset($post.txthoten)}{$post.txthoten}{/if}"></td>
				</tr>
				
				<tr>
					<td>Số điện thoại *</td>
					<td>
						<input type="text" name="txtphone" value="{if isset($post.txtphone)}{$post.txtphone}{/if}" required>
						{if isset($errors) && in_array('dienthoai_rong',$errors)}
							<span class="error-msg">Nhập vào số điện thoại.</span>
						{elseif isset($errors) && in_array('dienthoai_sai',$errors)}
						<span class="error-msg">Số điện thoại không hợp lệ.</span>
						{elseif isset($errors) && in_array('dienthoai_trung',$errors)}
							<span class="error-msg">Số điện thoại đã tồn tại.</span>
						{/if}
					</td>
				</tr>
				
				<tr>
					<td>Email</td>
					<td><input type="text" name="txtemail" value="{if isset($post.txtemail)}{$post.txtemail}{/if}"></td>
				</tr>
				
				<tr>
					<td>Địa chỉ</td>
					<td><input type="text" name="txtdiachi" value="{if isset($post.txtdiachi)}{$post.txtdiachi}{/if}"></td>
				</tr>
				
				<tr>
					<td>Ngày sinh</td>
					<td><input type="text" name="txtngaysinh" class="datepicker" value="{if isset($post.txtngaysinh)}{$post.txtngaysinh}{/if}"></td>
				</tr>
				
				<tr>
					<td>Giới tính *</td>
					<td>
						<select name="lstgioitinh" required>
							<option value="">Chọn giới tính</option>
							<option value="1">Nam</option>
							<option value="2">Nữ</option>
						</select>
					</td>
				</tr>
				
				<tr style="display: none;">
					<td>Trường *</td>
					<td>
						{$danhsach=$lib->selectall("SELECT * FROM tbtruong",false)}
						<select name="lsttruong">
							<option value="">Chọn trường</option>
							{foreach $danhsach as $item}
							<option value="{$item.truong_id}" {if isset($post.lsttruong) && $post.lsttruong==$item.truong_id}selected{/if}>{$item.truong_tieude}</option>
							{/foreach}	
						</select>
					</td>
				</tr>
				
				<tr style="display: none;">
					<td>Khối *</td>
					<td>
						{$danhsach=$lib->selectall("SELECT * FROM tbkhoi",false)}
						<select name="lstkhoi" id="lstkhoi">
							<option value="">Chọn khối</option>
							{foreach $danhsach as $item}
							<option value="{$item.khoi_id}" {if isset($post.lstkhoi) && $post.lstkhoi==$item.khoi_id}selected{/if}>{$item.khoi_tieude}</option>
							{/foreach}
						</select>
					</td>
				</tr>
				
				<tr style="display: none;">
					<td>Lớp *</td>
					<td>
						{$danhsach=$lib->selectall("SELECT * FROM tblop",false)}
						<select name="lstlop" id="lstlop">
							<option value="">Chọn lớp</option>
							{foreach $danhsach as $item}
							<option value="{$item.lop_id}" {if isset($post.lstlop) && $post.lstlop==$item.lop_id}selected{/if}>{$item.lop_tieude}</option>
							{/foreach}
						</select>
					</td>
				</tr>

				 <script type="text/javascript">		
					//Load lớp nếu chọn khối
					function loadlop(value)
					{
						$.get('/loadlop.php?value='+ value,function(data){
							$('#lstlop').html(data);
						});
					}
					
					$('#lstkhoi').change(function(e) {
						var value = $(this).val();
						loadlop(value);
					});
				</script>
				
				<tr>
					<td></td>
					<td><input type="submit" name="btnreg" value="Đăng ký"></td>
				</tr>
			{/if}
		</table>
	</form>
</div>
<!--END CONTENT BOX-->
</div>

<!-- Validate Form -->
<link rel="stylesheet" type="text/css" href="/templates/admin/js/validationEngine.jquery.css"/>
<script type="text/javascript" src="/templates/admin/js/jquery.validationEngine-vi.js"></script>
<script type="text/javascript" src="/templates/admin/js/jquery.validationEngine.js"></script>
<script>
$(document).ready(function(e) {
	$("#frm").validationEngine({
			validationEventTrigger:'keyup',
			promptPosition:'bottomRight',
			maxErrorsPerField:true,
			showOneMessage:true,
		});
});
</script>