{include file="includes/nav.html"}
 
<div class="content">
<!--CONTENT BOX-->
<div class="contentbox">
	<h1>Danh sách kết quả kiểm tra</h1>
	{if in_array('ketquakiemtra_tim',$login.quyen)}
	<p><a href="javascript:void(0)" onclick="hienan('timnangcao')">Tìm kiếm nâng cao (Bấm vào để Hiện / Ẩn)</a></p>
	<script>
		function hienan(obj) {
			var el = document.getElementById(obj);
			if ( el.style.display != 'none' ) {
				el.style.display = 'none';
				$('#show').val(0);
			}
			else {
				el.style.display = '';
				$('#show').val(1);
			}
		}
	</script>
	
	<form method="get" action="index.php" class="searchform">
		<input type="hidden" name="pg" value="danhsachketqua">
		<input type="hidden" name="show" id="show" value="{if isset($show) && $show==1}1{else}0{/if}">
		<table width="100%" border="0" cellspacing="5" cellpadding="5" style="margin-bottom:20px;">
			<thead>
				<tr>
					<td>Tên bài kiểm tra</td>
					<td>
						<input type="text" name="txtkey" {if isset($txtkey)} value="{$txtkey}" {/if}>
					</td>
				</tr>
			</thead>
			
			<tbody {if isset($show) && $show==1}{else}style="display:none"{/if} id="timnangcao">
				<tr>
					<td>Khoảng thời gian<br>[ngày]/[tháng]/[năm] [giờ]:[phút]</td>
					<td>
						<input type="text" value="{if isset($txtbatdau) && !empty($txtbatdau)}{$txtbatdau|date_format:"%d/%m/%Y %H:%M"}{/if}" name="txtbatdau" style="width:308px" placeholder="Thời gian bắt đầu" class="datetimepicker">
						<input type="text" value="{if isset($txtketthuc) && !empty($txtketthuc)}{$txtketthuc|date_format:"%d/%m/%Y %H:%M"}{/if}" name="txtketthuc" style="width:308px" " placeholder="Thời gian kết thúc" class="datetimepicker"> 
					</td>
				</tr>
			</tbody>
			
			<tfoot>
				<tr>
					<td></td>
					<td><input type="submit" name="btnsearch" value="Tìm kiếm"></td>
				</tr>
			</tfoot>
		</table>
	</form>
	{/if}
				
	<form action="" method="post">
		<table width="100%" border="1" cellspacing="5" cellpadding="5" class="csslist">
			<tr>
				<th scope="col">STT</th>
				<th scope="col">Tên bài kiểm tra</th>
				<th scope="col">Thi lúc</th>
				<!--<th scope="col">Thời gian hoàn thành</th>-->
				<th scope="col">Trả lời đúng</th>
				<th scope="col">Điểm số</th>
				<!--<th scope="col">Xếp loại</th>-->
			</tr>
			{foreach $danhsach as $key=>$item}
			<tr>
				<td align="center">{$key+1}</td>
				<td>
					{$kiemtra=$lib->selectone("SELECT * FROM tbkiemtra WHERE kiemtra_id={$item.kiemtra_id}")}
					<a href="index.php?pg=ketquakiemtra&kiemtra_id={$item.kiemtra_id}&ketquakiemtra_id={$item.ketquakiemtra_id}">{$kiemtra.kiemtra_tieude}</a>
				</td>
				<td>{$item.ketquakiemtra_ngaytao|date_format:"%Hh:%M':%S'' ngày %d/%m/%Y"}</td>
				<!--<td>{$item.ketquakiemtra_thoigian}</td>-->
				<td>{$item.ketquakiemtra_caudung} / {$item.ketquakiemtra_tongcauhoi}</td>
				<td>{$item.ketquakiemtra_diem}</td>
				<!--
				<td>
					{$xeploai=$lib->selectone("SELECT * FROM tbxeploai WHERE xeploai_id={$item.xeploai_id}")}
					{$xeploai.xeploai_tieude} - {if $xeploai.xeploai_dat==1}Đạt{else}Không đạt{/if}
				</td>
				-->
			</tr>
			{/foreach}
		</table>
		<div class="pages">{$lib->viewpage($link)}</div>
	</form>
</div>
<!--END CONTENT BOX-->
</div>