<form action="/index.php?php=baikiemtra" id="frm">
<div class="kiemtra">
	<div class="dongho-cauhoi">
		<div class="dongho">
			<h2>KẾT QUẢ BÀI THI</h2>
			<!--<p><strong>Thời hạn:</strong> {if $detail.kiemtra_laphangngay==1}Lặp hàng ngày - {/if}Từ {$detail.kiemtra_batdau|date_format:"%Hh:%M' ngày %d/%m/%Y"} đến {$detail.kiemtra_ketthuc|date_format:"%Hh:%M' ngày %d/%m/%Y"}</p>-->
			<p><strong>Thi lúc: </strong>{$ketquakiemtra.ketquakiemtra_ngaytao|date_format:"%Hh:%M':%S'' ngày %d/%m/%Y"}</p>
			<p><strong>Thời gian làm bài thi: </strong>{$detail.kiemtra_thoigian|date_format:"%Hh:%M':%S''"}</p>
			<!--<p><strong>Thời gian hoàn thành bài thi: </strong>{$ketquakiemtra.ketquakiemtra_thoigian|date_format:"%H giờ %M phút %S giây"}</p>-->
			<p><strong>Số câu trả lời đúng: </strong>{$ketquakiemtra.ketquakiemtra_caudung} / {$ketquakiemtra.ketquakiemtra_tongcauhoi} ({round(($ketquakiemtra.ketquakiemtra_caudung/$ketquakiemtra.ketquakiemtra_tongcauhoi)*100,2)}%)</p>
			{if $detail.kiemtra_hiendiem}
				<p><strong>Điểm bài thi: </strong></p>
				<p style="color: #f00; font-size: 35px; font-weight: bold; text-align: center;">{$ketquakiemtra.ketquakiemtra_diem} ĐIỂM</p>
				{$xeploai=$lib->selectone("SELECT * FROM tbxeploai WHERE xeploai_id={$ketquakiemtra.xeploai_id}")}
			{/if}

			<!--<p><strong>Xếp loại: </strong>{$xeploai.xeploai_tieude} - {if $xeploai.xeploai_dat==1}Đạt{else}Không đạt{/if}</p>-->
			<!--<p><strong>Số lần thi lại: </strong> {$detail.kiemtra_thulai-$thulai} / {$detail.kiemtra_thulai} lần {if $detail.kiemtra_laphangngay==1}(Trong ngày {$smarty.now|date_format:"%d/%m/%Y"}){/if}</p>-->

			{if $detail.kiemtra_xemlaibaithi}
				<h3>Ghi chú</h3>
				<p>Những câu có <strong>chữ màu đen</strong> là câu đúng, những câu có <strong><font color="#F00">chữ màu đỏ</font></strong> là câu sai.</p>
			{/if}
		</div>

		{if $detail.kiemtra_xemlaibaithi}
		<div class="cauhoi">
			<div class="cauhoi-noidung" >
				{$i=$sttkiemtra}
				{$cauhoi=$lib->selectone("SELECT * FROM tbcauhoi WHERE cauhoi_id={$danhsach.$i.cauhoi_id}")}
				{$dapandung=$lib->selectone("SELECT * FROM tbdapan WHERE cauhoi_id={$danhsach.$i.cauhoi_id} AND dapan_dung=1")}
				<div {if !empty($dapandung) && $dapandung.dapan_id==$danhsach.$i.dapan_id}{else}style="color:#f00; font-weight:bold;"{/if}>
					<p {if !empty($dapandung) && $dapandung.dapan_id==$danhsach.$i.dapan_id}style="font-weight:bold"{/if}>Câu {$i+1}: {strip_tags($cauhoi.cauhoi_tieude)}</p>
					{$dapan=$lib->selectall("SELECT * FROM tbdapan WHERE cauhoi_id={$cauhoi.cauhoi_id}",false)}
					{$ascii=65}
					{foreach $dapan as $da}
					<p {if !empty($dapandung) && $dapandung.dapan_id==$da.dapan_id}style="color:#000; font-weight:bold;"{/if}>
						<label>{chr($ascii)}: {$da.dapan_tieude}</label>
					</p>
					{$ascii=$ascii+1}
					{/foreach}
				</div>
			</div>

			<div class="cauhoi-bottom">
				<div class="cauhoi-chondapan">
					<div class="cauhoi-chondapan-noidung" {if !empty($dapandung) && $dapandung.dapan_id==$danhsach.$i.dapan_id}{else}style="color:#f00; font-weight:bold;"{/if}>
						<h3>Bạn chọn đáp án</h3>
						{$ascii=65}
						{foreach $dapan as $da}
							<label {if !empty($dapandung) && $dapandung.dapan_id==$da.dapan_id}style="color:#000; font-weight:bold;"{/if}><input type="radio" disabled value="{$da.dapan_id}" name="cauhoi[{$cauhoi.cauhoi_id}]" {if $danhsach.$i.dapan_id==$da.dapan_id}checked{/if}>{chr($ascii)}</label>
							{$ascii=$ascii+1}
						{/foreach}
					</div>
				</div>

				<div class="cauhoi-nut">
					<input type="submit" value="Thoát" name="btnup" id="btnup">
				</div>

				<div class="cauhoi-cautieptheo">
					<div class="cauhoi-cautieptheo-noidung">
					{if $sttkiemtra < count($danhsach)-1}
						{$cautieptheo=$lib->selectone("SELECT * FROM tbcauhoi WHERE cauhoi_id={$danhsach[$sttkiemtra+1]['cauhoi_id']}")}
						<p><strong>Câu {$sttkiemtra+2}: </strong>{strip_tags($cautieptheo.cauhoi_tieude)}</strong></p>
						{$dapan=$lib->selectall("SELECT * FROM tbdapan WHERE cauhoi_id={$cautieptheo.cauhoi_id}",false)}
						{$ascii=65}
						{foreach $dapan as $da}
						<p {if !empty($dapandung) && $dapandung.dapan_id==$da.dapan_id}style="color:#000; font-weight:bold;"{/if}>
							<label><strong>{chr($ascii)}:</strong> {$da.dapan_tieude}</label>
						</p>
						{$ascii=$ascii+1}
						{/foreach}
					</div>
					{/if}
				</div>
			</div>
		</div>
		{/if}
	</div>
	
	<div class="thongtin-traloi">
		<div class="thongtin">
			<h2 style="margin-top: 0">Thông tin kỳ thi</h2>
			<p><strong>Kỳ thi: </strong>{$caidat.kythi}</p>
			<p><strong>Ngày thi: </strong>{$smarty.now|date_format:"%d/%m/%Y"}</p>

			<h2>Thông tin thí sinh</h2>
			<p><strong>Họ và tên: </strong>{$login.taikhoan_hoten}</p>
			<p><strong>Số báo danh: </strong>{$login.taikhoan_sobaodanh}</p>
			<p><strong>Ngày sinh: </strong>{$login.taikhoan_ngaysinh|date_format:"%d/%m/%Y"}</p>
			{$phongthi = $lib->selectone("SELECT * FROM tbphongthi WHERE phongthi_id = {$login.phongthi_id}")}
			<p><strong>Phòng thi: </strong>{$phongthi.phongthi_tieude}</p>
		</div>

		{if $detail.kiemtra_xemlaibaithi}
		<div class="traloi">
			<div class="traloi-noidung">
				{for $i=0; $i<count($danhsach); $i++}
					{if $sttkiemtra==$i}
						<span class="active">Câu {$i+1}</span>
					{else}
						<a href="/index.php?pg=ketquakiemtra&kiemtra_id={$detail.kiemtra_id}&ketquakiemtra_id={$ketquakiemtra.ketquakiemtra_id}&sttkiemtra={$i}" >Câu {$i+1}</a>
					{/if}
				{/for}
			</div>
		</div>
		{/if}
	</div>
</div>
</form>

<script type="text/javascript">
$( document ).ready(function() {
    location.reload();
	/* Disable Back Buttom */
	window.location.hash="no-back-button";
	window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
	window.onhashchange=function(){ window.location.hash="no-back-button";}
});
</script>