<form method="post" action="" id="frm">
<div class="kiemtra">
	<div class="dongho-cauhoi">
		<input type="hidden" name="sttkiemtra" value="{if isset($sttkiemtra)}{$sttkiemtra}{/if}"/>
		<div class="dongho">
			{if $detail.kiemtra_khongthoigian==1}
				<p style="font-weight:bold; font-size:14px; color:#005AA3; text-transform:uppercase">
					Thời gian: Không giới hạn
				</p>
			{else}

			<h2>Thời gian còn lại</h2>
			<p style="font-weight:bold; font-size:14px; color:#005AA3; text-transform:uppercase">
				<span id="h"></span> giờ :
				<span id="m"></span> phút  :
				<span id="s"></span> giây
				
				<input type="hidden" id="h_val" value="{$thoigianconlai|date_format:"%H"}"/>
				<input type="hidden" id="m_val" value="{$thoigianconlai|date_format:"%M"}"/>
				<input type="hidden" id="s_val" value="{$thoigianconlai|date_format:"%S"}"/>
				<input type="hidden" id="huy" name="huy" value="0">

				<script language="javascript">
					var h = null; // Giờ
					var m = null; // Phút
					var s = null; // Giây
					var timeout = null; // Timeout
					 
					function start()
					{
						/*BƯỚC 1: LẤY GIÁ TRỊ BAN ĐẦU*/
						if (h === null)
						{
							h = parseInt(document.getElementById('h_val').value);
							m = parseInt(document.getElementById('m_val').value);
							s = parseInt(document.getElementById('s_val').value);
						}
					 
						/*BƯỚC 1: CHUYỂN ĐỔI DỮ LIỆU*/
						// Nếu số giây = -1 tức là đã chạy ngược hết số giây, lúc này:
						//  - giảm số phút xuống 1 đơn vị
						//  - thiết lập số giây lại 59
						if (s === -1){
							m -= 1;
							s = 59;
						}
					 
						// Nếu số phút = -1 tức là đã chạy ngược hết số phút, lúc này:
						//  - giảm số giờ xuống 1 đơn vị
						//  - thiết lập số phút lại 59
						if (m === -1){
							h -= 1;
							m = 59;
						}
					 
						// Nếu số giờ = -1 tức là đã hết giờ, lúc này:
						//  - Dừng chương trình
						if (h == -1){
							clearTimeout(timeout);
							//alert('Hết thời gian làm bài thi. Bấm OK để xem kết quả.');
							//window.location.href += '&huy=1';
							
							$('#huy').val(1);
							$('#frm').submit();
							return false;
						}
						
						/*
						alert('Thoi gian 1 cau (giay): {$thoigianmoicau} ');
						var time = h*60*60 + m*60 + s;
						alert(time);
						if( time >= '{$thoigianmoicau}'){
							$('#frm').submit();
						}
						*/
					 
						/*BƯỚC 1: HIỂN THỊ ĐỒNG HỒ*/
						document.getElementById('h').innerHTML = h.toString();
						document.getElementById('m').innerHTML = m.toString();
						document.getElementById('s').innerHTML = s.toString();
					 
						/*BƯỚC 1: GIẢM PHÚT XUỐNG 1 GIÂY VÀ GỌI LẠI SAU 1 GIÂY */
						timeout = setTimeout(function(){
							s--;
							start();
						}, 1000);
					}
					 
					function stop(){
						clearTimeout(timeout);
					}
					start();
				</script>
			</p>
			{/if}
		</div>

		<div class="cauhoi">
			<div class="cauhoi-noidung" >
				{$i=$sttkiemtra}
				<p><strong>Câu {$i+1}: {strip_tags($danhsach.$i.cauhoi_tieude)}</strong></p>
				{$strlay="SELECT * FROM tbdapan WHERE cauhoi_id={$danhsach.$i.cauhoi_id} "}
				{if $detail.kiemtra_daotraloi==1}
					{$strlay="{$strlay} ORDER BY RAND() "}
				{/if}
				{$dapan=$lib->selectall($strlay,false)}
				{$ascii=65}
				{foreach $dapan as $da}
					<p><strong>{chr($ascii)}:</strong> {$da.dapan_tieude}</p>
				{$ascii=$ascii+1}
				{/foreach}
			</div>

			<div class="cauhoi-bottom">
				<div class="cauhoi-chondapan">
					<div class="cauhoi-chondapan-noidung">
						<h3>Bạn chọn đáp án</h3>
						{$ascii=65}
						{foreach $dapan as $da}
							<label><input type="radio" value="{$da.dapan_id}" name="cauhoi[{$danhsach.$i.cauhoi_id}]" class="validate[required]"><strong>{chr($ascii)}</strong></label>
						{$ascii=$ascii+1}
						{/foreach}
					</div>
				</div>

				<div class="cauhoi-nut">
					<input type="submit" value="Trả lời" name="btnup" id="btnup">
				</div>

				<div class="cauhoi-cautieptheo">
					<div class="cauhoi-cautieptheo-noidung">
					{if $sttkiemtra < count($danhsach)-1}
						<p><strong>Câu {$sttkiemtra+2}: </strong>{strip_tags($danhsach.{$sttkiemtra+1}.cauhoi_tieude)}</strong></p>

						{$strlay="SELECT * FROM tbdapan WHERE cauhoi_id={$danhsach.{$sttkiemtra+1}.cauhoi_id} "}
						{if $detail.kiemtra_daotraloi==1}
							{$strlay="{$strlay} ORDER BY RAND() "}
						{/if}
						{$dapan=$lib->selectall($strlay,false)}
						{$ascii=65}
						{foreach $dapan as $da}
							<p><strong>{chr($ascii)}:</strong> {$da.dapan_tieude}</p>
						{$ascii=$ascii+1}
						{/foreach}
					</div>
					{/if}
				</div>
			</div>
		</div>
	</div>
	
	<div class="thongtin-traloi">
		<div class="thongtin">
			<h3>Thông tin kỳ thi</h3>
			<p><strong>Kỳ thi: </strong>{$caidat.kythi}</p>
			<p><strong>Ngày thi: </strong>{$smarty.now|date_format:"%d/%m/%Y"}</p>

			<h3>Thông tin thí sinh</h3>
			<p><strong>Họ và tên: </strong>{$login.taikhoan_hoten}</p>
			<p><strong>Số báo danh: </strong>{$login.taikhoan_sobaodanh}</p>
			<p><strong>Ngày sinh: </strong>{$login.taikhoan_ngaysinh|date_format:"%d/%m/%Y"}</p>
			{$phongthi = $lib->selectone("SELECT * FROM tbphongthi WHERE phongthi_id = {$login.phongthi_id}")}
			<p><strong>Phòng thi: </strong>{$phongthi.phongthi_tieude}</p>
		</div>

		<div class="traloi">
			<div class="traloi-noidung">

			</div>
		</div>
	</div>
</div>
</form>

<!-- Validate Form -->
<!--
<link rel="stylesheet" type="text/css" href="templates/user/js/validationEngine.jquery.css"/>
<script type="text/javascript" src="templates/user/js/jquery.validationEngine-vi.js"></script>
<script type="text/javascript" src="templates/user/js/jquery.validationEngine.js"></script>
<script>
$(document).ready(function(e) {
	$("#frm").validationEngine({
			validationEventTrigger:'keyup',
			promptPosition:'topRight',
			maxErrorsPerField:true,
			showOneMessage:true,
		});
});
-->

<script type="text/javascript">
$( document ).ready(function() {
	/* Disable Back Buttom */
	window.location.hash="no-back-button";
	window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
	window.onhashchange=function(){ window.location.hash="no-back-button";}

	//Disable reload page
	function disableF5(e) { if ((e.which || e.keyCode) == 116) e.preventDefault(); };
	$(document).on("keydown", disableF5);

	/*
	window.onbeforeunload = function() {
        return "Dude, are you sure you want to leave? Think of the kittens!";
    }
    */
});
</script>