{include file="includes/nav.html"}

<!--CONTENT BOX-->
<div class="contentbox">
	<h1>Thông tin cá nhân</h1>
	<form action="" method="post" enctype="multipart/form-data" id="frm" class="update">
		<table width="100%" border="0" cellspacing="5" cellpadding="5">
			<tr>
				<td>Tên đăng nhập *</td>
				<td><input type="text" name="txtuser" id="txtuser"  
			{if isset($detail)} 
			value="{$detail.taikhoan_user}" 
			{/if} disabled ></td>
			</tr>
			<tr>
				<td>Mật khẩu *</td>
				<td><input type="password" name="txtpass" id="txtpass" class="validate[required,minSize[6]]"
				{if isset($detail)} 
				value="{$detail.taikhoan_pass}" 
				{/if} >
					<input type="hidden" name="txtoldpass"
				{if isset($detail)} 
				value="{$detail.taikhoan_pass}" 
				{/if} ></td>
			</tr>
			<tr>
				<td>Nhập lại mật khẩu *</td>
				<td><input type="password" name="txtrepass" id="txtrepass" class="validate[required,equals[txtpass]]"
			{if isset($detail)} 
			value="{$detail.taikhoan_pass}" 
			{/if} ></td>
			</tr>
			<tr>
				<td>Họ tên *</td>
				<td><input name="txthoten" type="text" id="txthoten" size="60" class="validate[required]"
				{if isset($detail)} 
				value="{$detail.taikhoan_hoten}" 
				{/if} ></td>
			</tr>

			<tr>
				<td>Số báo danh </td>
				<td><input type="text" name="txtsobaodanh" id="txtsobaodanh"
			{if isset($detail)} 
			value="{$detail.taikhoan_sobaodanh}" 
			{/if} ></td>
			</tr>

			<tr>
				<td>Lớp chứng chỉ </td>
				<td><input type="text" name="txtlopchungchi" id="txtlopchungchi"
			{if isset($detail)} 
			value="{$detail.taikhoan_lopchungchi}" 
			{/if} ></td>
			</tr>
			
			<tr>
				<td>Email *</td>
				<td><input type="text" name="txtemail" id="txtemail" class="validate[required]"
			{if isset($detail)} 
			value="{$detail.taikhoan_email}" 
			{/if} ></td>
			</tr>
			<tr>
				<td>Số điện thoại</td>
				<td><input name="txtphone" type="text" id="txtphone" size="60" class="validate[custom[onlyNumberSp]]"
				{if isset($detail)} 
				value="{$detail.taikhoan_phone}" 
				{/if} ></td>
			</tr>
			<tr>
				<td>Địa chỉ</td>
				<td><input name="txtdiachi" type="text" id="txtdiachi" size="60"
				{if isset($detail)} 
				value="{$detail.taikhoan_diachi}" 
				{/if} ></td>
			</tr>
			<tr>
				<td>Ngày sinh</td>
				<td><input type="text" name="txtngaysinh" id="txtngaysinh" size="60" class="datepicker"
				{if isset($detail)} 
				value="{$detail.taikhoan_ngaysinh|date_format:"d/m/Y"}"
				{/if} ></td>
			</tr>
			<tr>
				<td>Giới tính</td>
				<td><select name="lstgioitinh">
						<option value="1" {if isset($detail) && $detail.taikhoan_gioitinh==1}selected{/if}>Nam</option>
						<option value="2" {if isset($detail) && $detail.taikhoan_gioitinh==2}selected{/if}>Nữ</option>
						<option value="0" {if isset($detail) && $detail.taikhoan_gioitinh==0}selected{/if}>Không xác định</option>
					</select></td>
			</tr>
			
			<tr style="display: none;">
				<td>Trường *</td>
				<td>
					<select name="lsttruong">
						{$danhsach=$lib->selectall("SELECT * FROM tbtruong WHERE truong_trangthai=1",false)}
						{foreach $danhsach as $item}					
							<option value="{$item.truong_id}" {if isset($detail) && $detail.truong_id==$item.truong_id}selected{/if}>{$item.truong_tieude}</option>
						{/foreach}
					</select>
				</td>
			</tr>
			
			<tr style="display: none;">
				<td>Khối *</td>
				<td>
					<select name="lstkhoi" id="lstkhoi">
						{$danhsach=$lib->selectall("SELECT * FROM tbkhoi WHERE khoi_trangthai=1",false)}
						{foreach $danhsach as $item}					
							<option value="{$item.khoi_id}" {if isset($detail) && $detail.khoi_id==$item.khoi_id}selected{/if}>{$item.khoi_tieude}</option>
						{/foreach}
					</select>
				</td>
			</tr>
			
			<tr style="display: none;">
				<td>Lớp *</td>
				<td>
					<select name="lstlop" id="lstlop">
						{$danhsach=$lib->selectall("SELECT * FROM tblop WHERE lop_trangthai=1",false)}
						{foreach $danhsach as $item}
						
							<option value="{$item.lop_id}" {if isset($detail) && $detail.lop_id==$item.lop_id}selected{/if}>{$item.lop_tieude}</option>
							
						{/foreach}
					</select>
				</td>
			</tr>

			 <script type="text/javascript">		
					//Load lớp nếu chọn khối
					function loadlop(value)
					{
						$.get('/loadlop.php?value='+ value,function(data){
							$('#lstlop').html(data);
						});
					}
					
					$('#lstkhoi').change(function(e) {
						var value = $(this).val();
						loadlop(value);
					});
				</script>

			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" name="btnup" id="btnup" value="Cập nhật"></td>
			</tr>
		</table>
	</form>
</div>
<!--END CONTENT BOX-->